<template>
  <div class="content">
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Annual Maintenance Contracts</h6>
        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--6">
       <!-- <modal
        :show.sync="modals.showImageModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-lg"
      >
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
        >
           <template>
   <div v-if="imageStatus == true" > <h1 class="text-center "> Not Uploaded </h1> </div>
        <div >
    <gallery :images="Images" :index="index" @close="index = null"></gallery>
    <div
      class="image"
      v-for="(image, imageIndex) in Images"
      :key="imageIndex"
      @click="index = imageIndex"
      :style="{ backgroundImage: 'url(' + image  + ')', width: '150px', height: '150px' }"
    ></div>
  </div>

          </template>
        </card>
      </modal> -->

      <modal
        :show.sync="modals.showModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-lg"
      >
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
        >
          <template>
               <h3 class="text-center " > AMC Details </h3>
             <hr>
        <div class="row"> 
          <div class="col-md-4"> 
          <h4>Property No  </h4>  <p > {{this.myObj.propertyNo }} </p> 
          </div>

          <div class="col-md-4"> 
         <h4>Name  </h4>  <p > {{this.myObj.name }} </p> 
          </div>
            
          <div class="col-md-4"> 
          <h4>Phone  </h4>  <p > {{this.myObj.mobileNo }} </p> 
          </div>

        </div>
        <div class="row"> 
          <div class="col-md-4"> 
         <h4>Email  </h4>  <p > {{this.myObj.email }} </p> 
          </div>
          <div class="col-md-4"> 
          <h4>Request  </h4>  <p > {{this.myObj.request }} </p> 
          </div>
        </div>
        <hr>
              <card
          type="secondary"
          shadow
          header-classes="bg-white "
          body-classes=""
          class="border-0"
        >
          <h3 class="text-center " > AMC Images </h3>
          <template>
   <div v-if="imageStatus == true" > <h1 class="text-center "> Not Uploaded </h1> </div>
        <div >
    <gallery :images="Images" :index="index" @close="index = null"></gallery>
    <div
      class="image"
      v-for="(image, imageIndex) in Images"
      :key="imageIndex"
      @click="index = imageIndex"
      :style="{ backgroundImage: 'url(' + image  + ')', width: '150px', height: '150px' }"
    ></div>
  </div>

          </template>
        </card>

    
            <!-- <form role="form" class="mb--4">
                   <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Name</label
                >
                <div class="col-md-8">
                  <base-input
                    placeholder="Name"
                    v-model="myObj.name"
                 v-bind:error="errors.name"
                    @focusout="checkName()"
                  ></base-input>
                </div>
              </div>

                    <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Email</label
                >
                <div class="col-md-8">
                  <base-input
                    placeholder="Enter email"
                    v-model="myObj.email"
                 v-bind:error="errors.email"
                    @focusout="checkEmail()"
                  ></base-input>
                </div>
              </div>

                    <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >PropertyNo</label
                >
                <div class="col-md-8">
                  <base-input
                    placeholder="Enter property number"
                    v-model="myObj.propertyNo"
                 v-bind:error="errors.propertyNo"
                    @focusout="checkPropertyNo()"
                  ></base-input>
                </div>
              </div>

                    <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Request</label
                >
                <div class="col-md-8">
                  <base-input
                    placeholder="Enter request"
                    v-model="myObj.request"
                 v-bind:error="errors.request"
                    @focusout="checkRequest()"
                  ></base-input>
                </div>
              </div>
              
              <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >MobileNo</label
                >
                <div class="col-md-8">
                  <base-input
                    placeholder="Enter mobile number"
                    v-model="myObj.mobileNo"
                 v-bind:error="errors.mobileNo"
                    @focusout="checkMobile()"
                  ></base-input>
                </div>
              </div>

              <div>
                <base-button
                  :disabled="saving"
                  @click="Validate()"
                  type="primary"
                  class="col"
                >
                  <i v-bind:class="sign"></i> {{ optionName }}</base-button
                >
              </div>
            </form> -->
          </template>
        </card>
      </modal>

      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <template slot="header"> </template>
          <div>
            <div
              class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
            >
              <!-- <div style="margin-bottom: 25px">
                <base-button icon type="primary" @click="AddModal()">
                  <span class="btn-inner--icon"
                    ><i class="fas fa-plus"></i></span>
                  <span class="btn-inner--text">Add New Service</span>
                </base-button>
              </div> -->

              <el-select
                hidden
                class="select-primary pagination-select"
                v-model="pagination.perPage"
                placeholder="Per page"
              >
                <el-option
                  class="select-primary pull-right"
                  v-for="item in pagination.perPageOptions"
                  :key="item"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>

              <div hidden>
                <base-input
                  v-model="searchQuery"
                  disabled
                  prepend-icon="fas fa-search"
                  placeholder="Search..."
                >
                </base-input>
              </div>
            </div>
            <el-table
              :data="queriedData"
              row-key="id"
              header-row-class-name="thead-light"
              @sort-change="sortChange"
              @selection-change="selectionChange"
            >
              <el-table-column
                v-for="column in tableColumns"
                :key="column.label"
                v-bind="column"
              >
              </el-table-column>
              <el-table-column min-width="50px" align="right" label="Options">
                <div slot-scope="{ $index, row }" class="d-flex">
                     <!-- <base-button
                    @click="AmcImages($index, row)"
                    class="like btn-link"
                    type="primary"
                    size="sm"
                    icon
                  >
                    <i class="text-white fas fa-images"></i>
                  </base-button> -->
              

                

                  <base-button
                    @click="editRecord($index, row)"
                    class="like btn-link"
                    type="primary"
                    size="sm"
                    icon
                  >
                    <i class="text-white far fa-eye"></i>
                  </base-button>
                    <base-button
                    @click.native="handleDelete($index, row)"
                    class="remove btn-link"
                    type="danger"
                    size="sm"
                    icon
                  >
               <i class="text-white far fa-trash-alt"></i>

                  </base-button>
                   
                </div>
              </el-table-column>
            </el-table>
          </div>
          <div
            slot="footer"
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <div class="">
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of {{ total }} entries

                <span v-if="selectedRows.length">
                  &nbsp; &nbsp; {{ selectedRows.length }} rows selected
                </span>
              </p>
            </div>
            <base-pagination
              class="pagination-no-border"
              v-model="pagination.currentPage"
              :per-page="pagination.perPage"
              :total="total"
            >
            </base-pagination>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/Breadcrumb/RouteBreadcrumb";
import { BasePagination } from "@/components";
import clientPaginationMixin from "../Tables/PaginatedTables/clientPaginationMixin";
import swal from "sweetalert2";
import users from "../Tables/users2";
import axios from "axios";
import qs from "qs";
import Vue from "vue";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
import moment from "moment";
import Multiselect from "vue-multiselect";
import VueGallery from 'vue-gallery';

export default {
  mixins: [clientPaginationMixin],
  components: {
    'gallery': VueGallery,
    Multiselect,
    BasePagination,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    flatPicker,
    
  },
  created() {
    this.LoadData();
  },
  mounted() {},
  data() {
    return {
      errors:
         {
   name : false
 },
 Images:[],
 imageStatus:false,
      myObj: {
        id: 0,
        name: "",
        propertyNo:"",
        email:"",
        mobileNo:"",
        request:"",
        imgPath:"",
        userId:0,

        
      },
       index: null,
      propsToSearch: ["firstName", "email"],
      tableColumns: [
        {
          prop: "propertyNo",
          label: "Property",
          minWidth: 80,
          sortable: true,
        },
         {
          prop: "name",
          label: "Name",
          minWidth: 50,
          sortable: true,
        },
          {
          prop: "email",
          label: "Email",
          minWidth: 50,
          sortable: true,
        },
         {
          prop: "mobileNo",
          label: "Mobile",
          minWidth: 100,
          sortable: true,
        },
         {
          prop: "request",
          label: "Request",
          minWidth: 100,
          sortable: true,
        },
         
        
      ],
      tableData: [],
      selectedRows: [],
      modals: {
        showModal: false,
        showImageModal:false
      },
      optionName: "Add",
      saving: false,
      name: "",
      prefixname: "",
      prefixError: false,
      nameError: false,
      sign: "",
      err: {
        nameerr: false,
        contacterr: false,
        mobileerr: false,
        purposevsterr: false,
        dateerr: false,
      },
      namereg: /^[a-zA-Z]*$/,
      currentDate: moment().format("YYYY-MM-DD"),
      eIndex: 0,
    };
    
  },


  methods: {
    LoadImages()
    {
   var url = "https://pexpert.fastech.pk/api/AMCs/AMCImages/"+ this.myObj.id ;
     console.log(url)
     axios
        .get(url)
        .then((response) => {
          if (response.data.images === "NotFound") 
          {
             this.imageStatus = true;
             this.Images = null;
          } 
          else {
             this.Images=[];
              response.data.forEach((element) => {
            this.Images.push( element.imageUrl);
          });
              console.log(this.Images);

           }
           
          
          
        })
        .catch(function (error) {});

    },


    LoadData() {
      var url = "https://pexpert.fastech.pk/api/AMCs/";
      axios
        .get(url)
        .then((response) => {
          if (response.data.status === "error") {
          } else {
            this.tableData = response.data;
          }
        })
        .catch(function (error) {});
    },
resetFormErrors()
 {
 this.errors.name = false;
 },
//  checkName()
//  {
// if(this.namereg.test(this.myObj.name) && this.myObj.name !== "")
// {
//    this.errors.name = false;
// } 
//   else
//   {
//   this.errors.name = "Please enter your name should contain only characters";
//   } 
//  },
   Validate() {
  


       
        if (this.myObj.id !== 0) 
        {
               //Edit
            var axios = require('axios');
            var data = this.myObj
            
            var configp = {
              method: 'put',
              url: 'https://pexpert.fastech.pk/api/AMCs/'+ this.myObj.id,
              headers: { 
                'Content-Type': 'application/json'
              },
              data : data
            };
            console.log(this.myObj);
            axios(configp)
            .then( (response) => {
              console.log(JSON.stringify(response.data));
              if(response.data.status === "success")
              {
                this.modals.showModal = false;
                this.LoadData();
 
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br /> AMC updated",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });

              }
            })
            .catch(function (error) {
              console.log(error);
            });

        } 
      
 

 },
    date: function (date) {
      return moment(date).format("MMMM Do YYYY, h:mm:ss a");
    },

    GetError() {
      return this.nameError;
      return this.prefixError;
    },
      AmcImages(index, row) 
      {
      this.eIndex = index;
      this.saving = false;
      this.imageStatus = false;
      this.modals.showImageModal = true;
      this.sign = "far fa-edit";
      this.myObj.id = row.id;
      this.LoadImages();
      console.log(this.myObj)
    },
    AddModal() {
      
      this.saving = false;
      this.optionName = "Add";
      this.modals.showModal = true;
      this.sign = "fas fa-user-plus";
      this.errors.name = false;
      this.myObj.name = ""
      
    },
    editRecord(index, row) {
      this.eIndex = index;
      this.saving = false;
      this.optionName = "Edit";
      this.modals.showModal = true;
      this.sign = "far fa-edit";
       this.imageStatus = false;
      this.myObj.id = row.id;
      this.myObj.name = row.name;
      this.myObj.email = row.email;
      this.myObj.propertyNo = row.propertyNo;
      this.myObj.mobileNo = row.mobileNo;
      this.myObj.request = row.request;
      this.myObj.imgPath = row.imgPath;
     
      this.LoadImages();
     
    },
    handleDelete(index, row) {
       swal({
        title: "Are you sure?",
        text: "You want to delete" + row.name + "?",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        confirmButtonText: "Yes, delete it!",
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          var axios = require("axios");

          var config = {
            method: "delete",
            url: `https://pexpert.fastech.pk/api/AMCs/${row.id}`,
            headers: {},
          };

          axios(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
            if(response.data.status === "success")
            {
            this.$notify({
            verticalAlign: "bottom",
            horizontalAlign: "center",
            message: 'Saved! <br />Inquiry of "' + row.name + '" removed.',
            type: "danger",
            icon: "fa fa-check",
            timeout: this.$store.state.timeout,
          });      
            this.LoadData();
            }
              
            })
            .catch(function (error) {
              console.log(error);
            });
        }
      });
    },
    deleteRow(row) {
      let indexToDelete = this.tableData.findIndex(
        (tableRow) => tableRow.id === row.id
      );
      if (indexToDelete >= 0) {
        this.tableData.splice(indexToDelete, 1);
      }
    },
    selectionChange(selectedRows) {
      this.selectedRows = selectedRows;
    },
  },
};
</script>
<style>
.no-border-card .card-footer {
  border-top: 0;
}
</style>
<style scoped>
  .image {
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #ebebeb;
    margin: 5px;
  }
</style> 