<template>
  <div class="content">
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Manage Bookings</h6>
        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--6">
 <!-- <modal
        :show.sync="modals.showImageModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-lg"
      >
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
        >
          <template>
   <div v-if="imageStatus == true" > <h1 class="text-center "> Not Uploaded </h1> </div>
        <div >
    <gallery :images="Images" :index="index" @close="index = null"></gallery>
    <div
      class="image"
      v-for="(image, imageIndex) in Images"
      :key="imageIndex"
      @click="index = imageIndex"
      :style="{ backgroundImage: 'url(' + image  + ')', width: '150px', height: '150px' }"
    ></div>
  </div>

          </template>
        </card>
      </modal> -->

  <modal
        :show.sync="modals.showCostModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-md"
      >
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
        >
          <template>
           <form>
          <div class="form-row"> 
          <div class="col-md-6">  
            <label class=" col-form-label form-control-label"
                  >Material</label
                >
               
                  <base-input
                    placeholder="Enter material"
                    v-model="matObj.material"
                    v-bind:error="errors.material"
                  ></base-input>
                
          </div>
            <div class="col-md-4">  
            <label class=" col-form-label form-control-label"
                  >Cost</label
                >
               
                  <base-input
                    placeholder="Enter cost"
                    v-model="matObj.cost"
                    v-bind:error="errors.cost"
                   
                  ></base-input>
                
          </div>
          <div class="col-md-2 " style="margin-top:44px;"> 
               
                <base-button
                    @click="AddCost()"
                    class="like btn-link"
                    type="primary"
                   
                    icon
                  >
                    <i class="text-white fas fa-plus"></i>
                  </base-button>

          </div>
            
          </div>  
          </form>  
  <table class="table table-sm">
  <thead>
    <tr>
      
      <th scope="col">Material</th>
      <th scope="col">Cost</th>
      <th scope="col">Action</th>
      
    </tr>
  </thead>
  <tbody>
    <tr v-for="items in materialData " :key="items.id">
    
      <td>{{items.material}}</td>
      <td>{{items.cost}}</td>
      <td> <i class="fas fa-trash" @click="DeleteMaterial(items.id)"> </i> </td>

    </tr>
 
  </tbody>
</table>

          </template>
        </card>
      </modal>

   <modal
        :show.sync="modals.showDetailModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-lg"
      >
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
        >
          <template>
             <h3 class="text-center " > Booking Details </h3>
             <hr>
                <card
          type="secondary"
          shadow
          header-classes="bg-white "
          body-classes=""
          class="border-0"
        >
        <div class="row"> 
          <div class="col-md-3"> 
         <h4>Name  </h4>  <p > {{BookingbyId.name }} </p> 
          </div>
          <div class="col-md-3"> 
          <h4>Phone  </h4>  <p > {{BookingbyId.phone }} </p> 
          </div>
          
          <div class="col-md-3"> 
         <h4>Unpaid  </h4>  <p > {{BookingbyId.remainingAmount }} </p> 
        </div>
         <div class="col-md-3"> 
         <h4> Total </h4>  <p > {{BookingbyId.totalAmount }} </p> 
        </div>
        </div>
     

          <div class="row"> 
          <div class="col-md-3"> 
         <h4>Date </h4>  <p > {{BookingbyId.date }} </p> 
          </div>
          <div class="col-md-9"> 
          <h4>Time  </h4>  <p > {{BookingbyId.time }} </p> 
          </div>
        </div>
        
          <div class="row"> 
          <div class="col-md-3"> 
        <h4>Category   </h4>  <p > {{BookingbyId.categoryName }} </p> 
          </div>
          <div class="col-md-9"> 
           <h4>Services  </h4>  <p > {{BookingbyId.selectedServices }} </p> 
          </div>
        </div>
        
          <div class="row"> 
          <div class="col-md-12"> 
        <h4>Description   </h4>  <p > {{BookingbyId.bookingDetails }} </p> 
          </div>
        
        </div>
          <div class="row"> 
          <div class="col-md-3"> 
         <h4>Address Title   </h4>  <p > {{BookingbyId.addressTitle }} </p> 
          </div>
          <div class="col-md-9"> 
          <h4>Address   </h4>  <p > {{BookingbyId.address }} </p> 
          </div>
        </div>
        </card>
        <hr>

              <card
          type="secondary"
          shadow
          header-classes="bg-white "
          body-classes=""
          class="border-0"
        >
          <h3 class="text-center " > Booking Images </h3>
          <template>
   <div v-if="imageStatus == true" > <h1 class="text-center "> Not Uploaded </h1> </div>
        <div >
    <gallery :images="Images" :index="index" @close="index = null"></gallery>
    <div
      class="image"
      v-for="(image, imageIndex) in Images"
      :key="imageIndex"
      @click="index = imageIndex"
      :style="{ backgroundImage: 'url(' + image  + ')', width: '150px', height: '150px' }"
    ></div>
  </div>

          </template>
        </card>
            
          </template>
        </card>
      </modal>

      <modal
        :show.sync="modals.showModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-md"
      >
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
        >
          <template>
                  <form role="form" class="mb--4">
             

              <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Booking</label
                >
                <div class="col-md-8">
                  <base-input
                    placeholder="Enter amount"
                    v-model="myObj.visitingCharges"
                    disabled
                    
                  ></base-input>
                </div>
              </div>
              <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >MaterialCost</label
                >
                <div class="col-md-8">
                  <base-input
                    placeholder="Enter amount"
                    v-model="myObj.totalMaterial"
                    disabled
                    
                  ></base-input>
                </div>
              </div>
              
              <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Service </label
                >
                <div class="col-md-3">
                  <base-input
                    placeholder="Enter amount"
                    v-model="Servicecharges"
                    v-bind:error="errors.totalAmount"
                    @keyup="changeCharges()"
                  ></base-input>
                </div>
                  <div class="col-md-2">
                <label class="col-form-label form-control-label">
                 Prev
                 </label>
                 </div>
                  <div class="col-md-3">
                  <base-input
                    placeholder="Enter amount"
                    v-model="myObj.serviceCharges"
                    v-bind:error="errors.totalAmount"
                  
                    disabled
                  ></base-input>
                </div>
              </div>
  <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Total Amount</label
                >
                <div class="col-md-8">
                  <base-input
                    placeholder="Enter amount"
                    v-model="myObj.totalAmount"
                 v-bind:error="errors.totalAmount"
                  
                    disabled
                  ></base-input>
                </div>
              </div>


            


              
              <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Booking Discount</label
                >
                <div class="col-md-8">
                  <base-input
                    placeholder="Enter amount"
                    v-model="myObj.discountAmount"
                 v-bind:error="errors.totalAmount"
                    @focusout="checkAmount()"
                    disabled
                  ></base-input>
                </div>
              </div>
   <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Net Amount</label
                >
                <div class="col-md-8">
                  <base-input
                    placeholder="Enter amount"
                    v-model="myObj.netAmount"
                 v-bind:error="errors.totalAmount"

                    @focusout="checkAmount()"
                    disabled
                  ></base-input>
                </div>
              </div>
              
                <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Paid Amount</label
                >
                <div class="col-md-3">
                  <base-input
                    placeholder="Enter amount"
                    v-model="PaidAmount"
                 v-bind:error="errors.totalAmount"
                 
                  ></base-input>
                </div>
                <div class="col-md-2">
                 <label class="col-form-label form-control-label">
                 Prev
                 </label>       
                </div>
                  <div class="col-md-3">
                  <base-input
                    placeholder="Enter amount"
                    v-model="myObj.paidAmount"
                 v-bind:error="errors.totalAmount"
                 disabled
                  ></base-input>
                </div>
              </div>

            <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Remaining </label
                >
                <div class="col-md-8">
                  <base-input
                    placeholder="Enter amount"
                    v-model="myObj.remainingAmount"
                 v-bind:error="errors.totalAmount"
                    @focusout="checkAmount()"
                    disabled
                  ></base-input>
                </div>
              </div>

        

              <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Status</label
                >
                            
          
             <div class="col-md-8">  

            
                <multiselect
                  style="margin-bottom: 15px"
                  placeholder="Select status"
                  v-model="myObj.billingStatus"
                  :options="pstatus"
                  :close-on-select="false"
                  :clear-on-select="false"
                  :hide-selected="false"
                  :preselect-first="false"
                  id="example"
                 disabled
                >
                </multiselect>
               </div>
              </div>
              <!-- <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Description</label
                >
                <div class="col-md-8">
                  <base-input
                      v-bind:error="errors.description"
                  >
                    <textarea
                       v-model="myObj.description"
                      v-bind:error="errors.description"
                        @focusout="checkDesc()"
                      class="form-control"
                    
                      
                      placeholder="Enter product details"
                    
                      rows="2"
                  
                    >
                    </textarea>
                  </base-input>
                </div>
              </div> -->


           



              <div style="margin-top: 30px">
                <base-button
                  :disabled="saving"
                  @click="Validate()"
                  type="primary"
                  class="col"
                  
                >
                  Save
                  </base-button
                >
              </div>
            </form>
            <!-- <form role="form" class="mb--4">
              <div class="form-row">
              <div class="form-group col-md-4   ">
                <label class="form-control-label"
                  >Amount:</label
                >
                <div >
                  <base-input
                    placeholder="Enter category name"
                    v-model="myObj.totalAmount"
                    v-bind:error="errors.totalAmount" 
                   
                  ></base-input>
                </div>
              </div>
              
           <base-dropdown title-classes="btn btn-secondary mr-0">
            <template v-slot:title>
              Payment Status
            </template>
            <a class="dropdown-item" href="#">Paid</a>
            <a class="dropdown-item" href="#">Unpaid</a>
           </base-dropdown>


      
             
              </div>
              
           

              <div>
                <base-button
                  :disabled="saving"
                  @click="Validate()"
                  type="primary"
                  class="col"
                >
                  <i v-bind:class="sign"></i> {{ optionName }}</base-button
                >
              </div>
            </form> -->
          </template>
        </card>
      </modal>

      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <template slot="header"> </template>
          <div>
            <div
              class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
            >
              <!-- <div style="margin-bottom: 25px">
                <base-button icon type="primary" @click="AddModal()">
                  <span class="btn-inner--icon"
                    ><i class="fas fa-edit"></i
                  ></span>
                  <span class="btn-inner--text">Add New Service</span>
                </base-button>
              </div> -->

              <el-select
                hidden
                class="select-primary pagination-select"
                v-model="pagination.perPage"
                placeholder="Per page"
              >
                <el-option
                  class="select-primary pull-right"
                  v-for="item in pagination.perPageOptions"
                  :key="item"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>

              <!-- <div class="col-md-12">
              
              <base-input
             
              placeholder="Search bookings"
              v-model="searchInput"
              v-on:keyup.enter="searchDataa"
              >   </base-input>
             
     
  
          </div> -->
<!-- <base-input>
    <div class="input-group">
     <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
     <div class="input-group-append">
       <span class="input-group-text">$</span>
       
     </div>
   </div>
  </base-input> -->
            </div>
            <el-table
              :data="queriedData"
              row-key="id"
              header-row-class-name="thead-light"
              @sort-change="sortChange"
              @selection-change="selectionChange"
            >
              <el-table-column
                v-for="column in tableColumns"
                :key="column.label"
                v-bind="column"
              >
              </el-table-column>
              <el-table-column min-width="70px" align="right" label="Options">
                <div slot-scope="{ $index, row }" class="d-flex">
                
                  <!-- <base-button
                    @click="bookingImages($index, row)"
                    class="like btn-link"
                    type="primary"
                    size="sm"
                    icon
                  >
                    <i class="text-white fas fa-images"></i>
                  </base-button> -->
              

                  <base-button
                    @click="editAmount($index, row)"
                    class="like btn-link"
                    type="primary"
                    size="sm"
                    icon
                  >
                    <i class="text-white far fa-edit"></i>
                  </base-button>
                       <base-button
                    @click="details($index, row)"
                    class="like btn-link"
                    type="primary"
                    size="sm"
                    icon
                  >
                   <i class="text-white far fa-eye"></i>
                  </base-button>
                   <base-button
                    @click="materialCost($index, row)"
                    class="like btn-link"
                    type="primary"
                    size="sm"
                    icon
                  >
                    <i class="text-white fas fa-plus"></i>
                  </base-button>

                      <base-button
                    @click.native="handleDelete($index, row)"
                    class="remove btn-link"
                    type="danger"
                    size="sm"
                    icon
                  >
                     <i class="text-white far fa-trash-alt"></i>
                  </base-button>
                </div>
              </el-table-column>
            </el-table>
          </div>
          <div
            slot="footer"
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <div class="">
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of {{ total }} entries

                <span v-if="selectedRows.length">
                  &nbsp; &nbsp; {{ selectedRows.length }} rows selected
                </span>
              </p>
            </div>
            <base-pagination
              class="pagination-no-border"
              v-model="pagination.currentPage"
              :per-page="pagination.perPage"
              :total="total"
            >
            </base-pagination>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/Breadcrumb/RouteBreadcrumb";
import { BasePagination } from "@/components";
import clientPaginationMixin from "../Tables/PaginatedTables/clientPaginationMixin";
import swal from "sweetalert2";
import users from "../Tables/users2";
import axios from "axios";
import qs from "qs";
import Vue from "vue";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
import moment from "moment";
import Multiselect from "vue-multiselect";
import VueGallery from 'vue-gallery';
export default {
  mixins: [clientPaginationMixin],
  components: {
    Multiselect,
    BasePagination,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    flatPicker,
     'gallery': VueGallery
  },
  created() {
    this.LoadData();
  },
  mounted() {},
  data() {
    return {
      
       totalAm:0, 
       rmainAm:0,
        PaidAmount:0,
      errors:
         {
   name : false
 },
 Servicecharges:0,
   index: null,
 statusvalue:"",
 pstatus:
 ['Paid','Unpaid',],
 matObj:
 {
 id:0,
 material:"",
 cost:0,
 bookingId:0
 },
 imageStatus:false,
materialData:[],
Images:[  
    ],
    BookingbyId:{},
      myObj: {
        id: 0,
        
        name:"",
        phone:"",
        latitude:"",
        longitude:"",
        address:"",
        addressTitle:"",

        date: "",
        status:"",
        transactionId:"",
        time: 0,
        vat: 0,
        tip: 0,
        discountPercent: 0,
        discountAmount: 0,   
        totalAmount: 0,
        billingStatus:"",
        visitingCharges: 0,
        selectedServices:"",
        userId:"",
        promoCodeId:"",
        categoryId:"",
        bookingDetails:"",
        remainingAmount:0,

        netAmount:0,
        paidAmount:0,
        serviceCharges:0,
        totalMaterial:0,

        
      },
      propsToSearch: ["name"],
      tableColumns: [
        {
          prop: "name",
          label: "Name",
          minWidth: 30,
          sortable: true,
        },
        {
          prop: "phone",
          label: "Phone",
          minWidth: 30,
          sortable: true,
        },
         {
          prop: "date",
          label: "Date",
          minWidth: 30,
          sortable: true,
        },
        {
          prop: "selectedServices",
          label: "Services",
          minWidth: 80,
          sortable: true,
        },
       
        {
          prop: "netAmount",
          label: "NetAmount",
          minWidth: 50,
          sortable: true,
        },
        {
          prop: "remainingAmount",
          label: "Unpaid Amount",
          minWidth: 50,
          sortable: true,
        },
        
      ],
      tableData: [],
      selectedRows: [],
      modals: {
        showModal: false,
        showDetailModal: false,
        showCostModal: false,
        showImageModal:false,


      },
      optionName: "Add",
      saving: false,
      name: "",
      prefixname: "",
      prefixError: false,
      nameError: false,
      sign: "",
      err: {
        nameerr: false,
        contacterr: false,
        mobileerr: false,
        purposevsterr: false,
        dateerr: false,
      },
      namereg: /^[a-zA-Z]*$/,
      currentDate: moment().format("YYYY-MM-DD"),
      eIndex: 0,
    };
    
  },


  methods: {
      roleCount(key) {
      return key + 1;
    },
  changeCharges()
    {

     const value= event.target.value;
     
     if(value == "")
      {
         this.Servicecharges = "0" ;
      }
      if(value == "0")
      {
         this.Servicecharges = value ;
      }
      if(value !== "")
      {
    //   allamount = 0;
       var allamount = this.myObj.totalAmount ;

    //  console.log(value);
    //  var final = parseInt(allamount) + parseInt(value);
    //console.log(this.Servicecharges);
   // console.log(this.myObj.totalAmount);
      //console.log(this.myObj.totalAmount);
      this.myObj.totalAmount = this.totalAm + parseInt(value);
      var NetTotal =   this.myObj.totalAmount - this.myObj.discountAmount;
       this.myObj.remainingAmount =  this.rmainAm + parseInt(value);
      this.myObj.netAmount =   NetTotal;

     
   //   this.myObj.tount = 0;
  
        
      }

    
       
    //this.Servicecharges = 
    // var final = parseInt(this.myObj.totalAmount) + parseInt(this.Servicecharges);
    //console.log(this.Servicecharges);
    //console.log(this.myObj.totalAmount);
      //console.log(final);
      //this.myObj.totalAmount = final;

      
//console.log(value);

    
    
     
    
   
    },
LoadBookingByid() 
{
     var url = "https://pexpert.fastech.pk/api/Bookings/BookingDetails/"+ this.myObj.id ;
      axios
        .get(url)
        .then((response) => {
          if (response.data.status === "error") {
          } else {
           
           this.BookingbyId  = response.data[0];
            this.BookingbyId.date  = this.BookingbyId.date.split("T")[0]
            console.log(this.BookingbyId);
          }
        })
        .catch(function (error) {});
    },


    LoadImages()
    {
   var url = "https://pexpert.fastech.pk/api/Bookings/BookingImages/"+ this.myObj.id ;
     console.log(url)
     axios
        .get(url)
        .then((response) => {
          if (response.data.images === "NotFound") 
          {
             this.imageStatus = true;
             this.Images = null;
          } 
          else {
         
         
             this.Images=[];
              response.data.forEach((element) => 
              {
            this.Images.push( element.bookingsImage );
          });
              console.log(this.Images);
           }
        })
        .catch(function (error) {});

    },
 DeleteMaterial(id)
 {
  swal({
        title: "Are you sure?",
        text: "You want to delete  " + id + "?",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        confirmButtonText: "Yes, delete it!",
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
      
        var axios = require('axios');

        var config = {
          method: 'delete',
          url: "https://pexpert.fastech.pk/api/BookingMaterials/DeleteMaterial/"+id,

          headers: { }

        };

        axios(config)
        .then((response) => {
         
          console.log(JSON.stringify(response.data));
            if(response.data.status === "success")
            {
            this.$notify({
            verticalAlign: "bottom",
            horizontalAlign: "center",
            message: 'Deleted! <br />Inquiry of "' + id + '" removed.',
            type: "danger",
            icon: "fa fa-check",
            timeout: this.$store.state.timeout,
          });      
            this.LoadMaterial();
              this.LoadData();
            }
        })
        .catch(function (error) {
          console.log(error);
        });
        }
      });

 },
 
 AddCost()
 { 
  if(this.matObj.id === 0)
 {
    var axios = require('axios');
                var data = this.matObj

                var config = {
                  method: 'post',
                  url: 'https://pexpert.fastech.pk/api/BookingMaterials/AddMaterial/',
                  headers: { 
                    'Content-Type': 'application/json'
                  },
                  data : data
                };

                axios(config)
                .then( (response)=> {
                  console.log(this.matObj);
                  console.log(JSON.stringify(response.data));
                  if(response.data.status === "success")
                  {
                   //this.modals.showModal = false;
                   this.LoadMaterial();
                   this.LoadData();
                    this.matObj.id = 0;
                    this.matObj.material = '';
                    this.matObj.cost = '';
                  //  this.$notify({
                  //   verticalAlign: "bottom",
                  //   horizontalAlign: "center",
                  //   message: "Saved! <br />New offer added",
                  //   type: "success",
                  //   icon: "fa fa-check",
                  //   timeout: this.$store.state.timeout,
                  // });

                  }
                })
                .catch(function (error) {
                  console.log(error);
                });

 }
   
 },
    pStatus()
    {
     
      console.log("Osama");
    },
searchDataa() {
      console.log("Searching:", this.searchInput);
      if (this.searchInput.length > 0) {
        var url =
          this.$store.state.domain +
          "/registrations/searchBuyer/" +
          this.searchInput;
        axios
          .get(url)
          .then((response) => {
            if (response.data.status === "error") {
            } else {
              this.tableData = response.data;
            }
          })
          .catch(function (error) {
            console.log(error);
          });
      } else {
        this.LoadData();
      }
    },


LoadMaterial() 
{
     var url = "https://pexpert.fastech.pk/api/BookingMaterials/MaterialByBooking/"+ this.myObj.id ;
      axios
        .get(url)
        .then((response) => {
          if (response.data.status === "error") {
          } else {
            this.materialData = response.data;
              console.log( this.materialData);
          }
        })
        .catch(function (error) {});
    },

    LoadData() {
     var url = "https://pexpert.fastech.pk/api/Bookings/";
      axios
        .get(url)
        .then((response) => {
          if (response.data.status === "error") {
          } else {
            this.tableData = response.data;
            this.tableData = [];
                 response.data.forEach(elem => {
              elem.date = elem.date.split("T")[0];
              this.tableData.push(elem)
              console.log(this.tableData);
            })
          }
        })
        .catch(function (error) {});
    },
resetFormErrors()
 {
 this.errors.name = false;
 },
//  checkName()
//  {
// if(this.namereg.test(this.myObj.name) && this.myObj.name !== "")
// {
//    this.errors.name = false;
// } 
//   else
//   {
//   this.errors.name = "Please enter your name should contain only characters";
//   } 
//  },
   Validate() {
  

if(this.myObj.name == "" )
{

  this.errors.name = "Please enter name";
}
// else if(this.myObj.email == null || this.myObj.email.length === 0)
// {
//   this.checkEmail(true);
 
// }
// else if(this.myObj.whatsappNo == null || this.myObj.whatsappNo.length === 0)
// {
//  this.checkWhats(true);
// }
// else if(this.myObj.phoneNo == null || this.myObj.phoneNo.length === 0)
// {
//  this.checkPhone(true);
// }
// else if(this.myObj.address == null || this.myObj.address.length === 0)
// {
//  this.checkAddress(true);
// }

// else if(this.myObj.companyName == null || this.myObj.companyName.length === 0)
// {
//  this.checkCompany(true);
// }
// else if(this.myObj.city == null || this.myObj.city.length === 0)
// {
//  this.checkCity(true);
// }
// else if(this.myObj.country == null || this.myObj.country.length === 0)
// {
//  this.checkCountry(true);
// }
else {

       
        if (this.myObj.id != 0) 
        {
          //Edit
    // console.log(this.myObj.billingStatus);
       this.myObj.serviceCharges = this.Servicecharges;
       this.myObj.paidAmount =    this.PaidAmount;          
       console.log(this.myObj);
       
        var axios = require('axios');
        var data = this.myObj

        var config = {
          method: 'put',
          url: 'https://pexpert.fastech.pk/api/bookings/UpdateBooking/'+ this.myObj.id,
          headers: { 
            'Content-Type': 'application/json'
          },
          data : data
        };

        axios(config)
        .then( (response)=> {
          console.log(JSON.stringify(response.data));
          if(response.data.status === "success")
          {
            this.modals.showModal = false;
                this.LoadData();
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br /> amount updated",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });

          }
          
        })
        .catch(function (error) {
          console.log(error);
        });


        } else 
        {
        
        }
      }
 

 },
    date: function (date) {
      return moment(date).format("MMMM Do YYYY, h:mm:ss a");
    },

    GetError() {
      return this.nameError;
      return this.prefixError;
    },
    AddModal() {
      
      this.saving = false;
      this.optionName = "Add";
      this.modals.showModal = true;
      this.sign = "fas fa-user-plus";
      this.errors.name = false;
      this.myObj.name = ""
    },
     materialCost(index, row) {
       this.myObj.id = row.id;
       this.matObj.bookingId =  row.id;
      this.eIndex = index;
      this.saving = false;
      this.LoadMaterial();
      this.modals.showCostModal = true;
      this.sign = "far fa-edit";
     
      
    
      console.log(this.myObj)
    },
  //    bookingImages(index, row) {
  //     this.eIndex = index;
  //     this.saving = false;
  //     this.imageStatus = false;
  //     this.modals.showImageModal = true;
  //     this.sign = "far fa-edit";
  //     this.myObj.id = row.id;

     
  //  this.LoadImages();
      
  //     console.log(this.myObj)
  //   },
     details(index, row) {
      this.eIndex = index;
      this.saving = false;
       this.imageStatus = false;
      this.modals.showDetailModal = true;
      this.sign = "far fa-edit";
      this.myObj.id = row.id;
      this.LoadImages();
      this.LoadBookingByid();
      
      console.log(this.BookingbyId)
    },
    editAmount(index, row) {
      this.eIndex = index;
      this.saving = false;
      this.optionName = "Edit";
      this.modals.showModal = true;
      this.sign = "far fa-edit";
      this.myObj.id = row.id;
      this.myObj.date = row.date;
      this.myObj.time = row.time;
      this.totalAm = row.totalAmount; 
      this.rmainAm = row.remainingAmount;
      this.myObj.totalAmount = row.totalAmount;
      this.myObj.billingStatus = row.billingStatus;
      this.myObj.vat = row.vat;
      this.myObj.tip = row.tip;
      this.myObj.discountPercent = row.discountPercent;
      this.myObj.discountAmount = row.discountAmount;
      this.myObj.selectedServices = row.selectedServices;
      this.myObj.userId = row.userId;
      this.myObj.promoCodeId = row.promoCodeId;
      this.myObj.categoryId = row.categoryId;
      this.myObj.status = row.status;
      this.myObj.transactionId = row.transactionId;
      this.myObj.remainingAmount = row.remainingAmount;
      this.myObj.visitingCharges = row.visitingCharges
      this.myObj.netAmount = row.netAmount;
      this.myObj.paidAmount = row.paidAmount;
      this.myObj.totalMaterial = row.totalMaterial;
      this.myObj.serviceCharges = row.serviceCharges;

      this.myObj.name = row.name;
      this.myObj.phone = row.phone;
      this.myObj.latitude = row.latitude;
      this.myObj.longitude = row.longitude
      this.myObj.address = row.address;
      this.myObj.addressTitle = row.addressTitle;
      

      
      this.PaidAmount = 0; 
      this.Servicecharges = 0;
    
      console.log(this.myObj)
    },    
    editRecord(index, row) {
      this.eIndex = index;
      this.saving = false;
      this.optionName = "Edit";
      this.modals.showModal = true;
      this.sign = "far fa-edit";
      this.myObj.id = row.id;
      this.myObj.name = row.name;
      this.myObj.date = row.date;
      this.myObj.time = row.time;
      this.myObj.promoCode = row.promoCode;
      this.myObj.vat = row.vat;
      this.myObj.tip = row.tip;
      this.myObj.discountPercent = row.discountPercent;
      this.myObj.discountAmount = row.discountAmount;

    },
    handleDelete(index, row) {
      swal({
        title: "Are you sure?",
        text: "You want to delete" + row.name + "?",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        confirmButtonText: "Yes, delete it!",
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
      
        var axios = require('axios');

        var config = {
          method: 'delete', 
          url: `https://pexpert.fastech.pk/api/bookings/${row.id}`,
          headers: { }

        };

        axios(config)
        .then((response) => {
         
          console.log(JSON.stringify(response.data));
            if(response.data.status === "success")
            {
            this.$notify({
            verticalAlign: "bottom",
            horizontalAlign: "center",
            message: 'Saved! <br />Inquiry of "' + row.name + '" removed.',
            type: "danger",
            icon: "fa fa-check",
            timeout: this.$store.state.timeout,
          });      
            this.LoadData();
            }
        })
        .catch(function (error) {
          console.log(error);
        });
        }
      });
    },
    deleteRow(row) {
      let indexToDelete = this.tableData.findIndex(
        (tableRow) => tableRow.id === row.id
      );
      if (indexToDelete >= 0) {
        this.tableData.splice(indexToDelete, 1);
      }
    },
    selectionChange(selectedRows) {
      this.selectedRows = selectedRows;
    },
  },
};
</script>
<style>
.no-border-card .card-footer {
  border-top: 0;
}

</style>
<style scoped>
  .image {
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #ebebeb;
    margin: 5px;
  }
</style> 
 
