<template>
  <div class="content">
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Properties</h6>
        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--6">
      <modal
       :show.sync="modals.showModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-md"
      >
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
        >
          <template>
            <form role="form" class="mb--4">
             

              <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Name</label
                >
                <div class="col-md-8">
                  <base-input
                    placeholder="Name"
                    v-model="myObj.name"
                 v-bind:error="errors.name"
                    @focusout="checkName()"
                  ></base-input>
                </div>
              </div>

              <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Services</label
                >
                <div class="col-md-8">
                  <base-input
                      v-bind:error="errors.services"
                  >
                    <textarea
                       v-model="myObj.services"
                   
                      
                      @focusout="checkServices()"
                      class="form-control"
                    
                      
                      placeholder="Type services separated by comma"
                    
                      rows="2"
                  
                    >
                    </textarea>
                  </base-input>
                </div>
              </div>
              <!-- <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Description</label
                >
                <div class="col-md-8">
                  <base-input
                      v-bind:error="errors.description"
                  >
                    <textarea
                       v-model="myObj.description"
                      v-bind:error="errors.description"
                        @focusout="checkDesc()"
                      class="form-control"
                    
                      
                      placeholder="Enter product details"
                    
                      rows="2"
                  
                    >
                    </textarea>
                  </base-input>
                </div>
              </div> -->

                   <div class="form-group row mb--2">    
                        <label class="col-md-4 col-form-label form-control-label"
                  >Icon</label
                >     
                  
                      </div> 
            <img
                :src="cover"
                @click="$refs.filee.click()"
                style="width: 5vw; height: 5vw; margin-rights: 40px;"
                alt="imgAdd"
              />
                    <i
                      
                      v-if="loading == true"
                      class="fas fa-circle-notch fa-spin fa-2x  "
                      style="color: grey; margin-left:40px; "
                    ></i>
                  
              <label hidden class="btn btn-success col">
                <input
                  type="file"
                  id="filee"
                  ref="filee"
                  @change="selectUFile()"
                  accept="image/*"
                />
              </label>
           



              <div style="margin-top: 10px">
                <base-button
                  :disabled="saving"
                  @click="Validate()"
                  type="primary"
                  class="col"
                >
                  <i v-bind:class="sign"></i> {{ optionName }}</base-button
                >
              </div>
            </form>
          </template>
        </card>
      </modal>
      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <template slot="header"> </template>
          <div>
            <div
              class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
            >
              <div style="margin-bottom: 25px">
                <base-button icon type="primary" @click="AddModal()">
                  <span class="btn-inner--icon"
                    ><i class="fas fa-plus"></i></span>
                  <span class="btn-inner--text">Add Property</span>
                </base-button>
              </div>

              <el-select
                hidden
                class="select-primary pagination-select"
                v-model="pagination.perPage"
                placeholder="Per page"
              >
                <el-option
                  class="select-primary pull-right"
                  v-for="item in pagination.perPageOptions"
                  :key="item"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>

              <div hidden>
                <base-input
                  v-model="searchQuery"
                  disabled
                  prepend-icon="fas fa-search"
                  placeholder="Search..."
                >
                </base-input>
              </div>
            </div>
            <el-table
              :data="queriedData"
              row-key="id"
              header-row-class-name="thead-light"
              @sort-change="sortChange"
              @selection-change="selectionChange"
            >
              <el-table-column
                v-for="column in tableColumns"
                :key="column.label"
                v-bind="column"
              >
              </el-table-column>
              <el-table-column min-width="50px" align="right" label="Options">
                <div slot-scope="{ $index, row }" class="d-flex">
                
                   <base-button
                    @click="editRecord($index, row)"
                    class="like btn-link"
                    type="primary"
                    size="sm"
                    icon
                  >
                    <i class="text-white far fa-edit"></i>
                  </base-button>
                  <base-button
                    @click.native="handleDelete($index, row)"
                    class="remove btn-link"
                    type="danger"
                    size="sm"
                    icon
                  >
                     <i class="text-white far fa-trash-alt"></i>
                  </base-button>

             
                </div>
              </el-table-column>
            </el-table>
          </div>
          <div
            slot="footer"
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <div class="">
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of {{ total }} entries

                <span v-if="selectedRows.length">
                  &nbsp; &nbsp; {{ selectedRows.length }} rows selected
                </span>
              </p>
            </div>
            <base-pagination
              class="pagination-no-border"
              v-model="pagination.currentPage"
              :per-page="pagination.perPage"
              :total="total"
            >
            </base-pagination>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/Breadcrumb/RouteBreadcrumb";
import { BasePagination } from "@/components";
import clientPaginationMixin from "../Tables/PaginatedTables/clientPaginationMixin";
import swal from "sweetalert2";
import users from "../Tables/users2";
import axios from "axios";
import qs from "qs";
import Vue from "vue";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
import moment from "moment";
import Multiselect from "vue-multiselect";
 import Uploader from "vux-uploader-component";
export default {
  mixins: [clientPaginationMixin],
  components: {
    Multiselect,
    BasePagination,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    flatPicker,
    Uploader,
  },
  created() {
    this.LoadData();
  },
  mounted() {},
  data() {
    return {
         cover: "https://appick.io/u/lessons/9742175b-3fde-4003-8b2c-25fee22597fd.png",
      loading:false,
      filee:"",
      fileList: [],
      errors:
         {
   name : false,
   description : false,
  services:false,
 },
      myObj: {
        id: 0,
        name: "",
        services:"",
        description:"",
        iconPath:"",

        
      },
      propsToSearch: ["firstName", "email"],
      tableColumns: [
        {
          prop: "name",
          label: "Name",
          minWidth: 100,
          sortable: true,
        },
        {
          prop: "services",
          label: "Services",
          minWidth: 100,
          sortable: true,
        },
        
      ],
      tableData: [],
      selectedRows: [],
      modals: {
        showModal: false,
      },
      optionName: "Add",
      saving: false,
      name: "",
      prefixname: "",
      prefixError: false,
      nameError: false,
      sign: "",
      err: {
        nameerr: false,
        contacterr: false,
        mobileerr: false,
        purposevsterr: false,
        dateerr: false,
      },
      namereg: /^[a-zA-Z]*$/,
      currentDate: moment().format("YYYY-MM-DD"),
      eIndex: 0,
    };
    
  },


  methods: {
  selectUFile() {
             // console.log("Osama");
              this.loading = true;
              this.filee = this.$refs.filee.files[0];

              console.log(this.filee.name);

                console.log(this.filee, this.loading );
                  //Upload cover
                if (this.filee !== "") {
                  let formData = new FormData();
                  formData.append("file", this.filee);
                  console.log(this.filee);
                  axios
                  .post("https://upload.appick.io", formData, {
                      headers: {
                        "Content-Type": "multipart/form-data",
                      },
                    })
                    .then((e) => {
                      console.log(e.data);
                      // this.file = undefined;
                      var fn =
                        "https://appick.io/u/lessons/" + e.data.myresp[0].filename;
                    console.log(fn);
                    this.cover = fn;
                    this.myObj.iconPath = this.cover;
                      //console.log(this.myObj.coverImg);
                      this.loading = false;
                      console.log(this.loading);
                    });
                }

            },



    LoadData() {
      console.log("Osama");
      var url = "https://pexpert.fastech.pk/api/Categories";
      axios
        .get(url)
        .then((response) => {
          if (response.data.status === "error") {
          } else {
            this.tableData = response.data;
          }
        })
        .catch(function (error) {});
    },
resetFormErrors()
 {
 this.errors.name = false;
 },
 checkServices()
 {
if(this.myObj.services !== "")
{
   this.errors.services = false;
} 
  else
  {
  this.errors.services = "Please enter services";
  } 
 },
 checkName()
 {
if(this.myObj.name !== "")
{
   this.errors.name = false;
} 
  else
  {
  this.errors.name = "Please enter name";
  } 
 },

   Validate() {
  
this.errors.name = false
this.errors.description = false
this.errors.services = false
this.checkName();
this.checkServices();
if(this.errors.name !== false || this.errors.services !== false )
{

return this.$notify({
          verticalAlign: "bottom",
          horizontalAlign: "center",
          message: "Error! <br />" + "Please fill the form correctly",
          type: "danger",
          icon: "fa fa-ban",
          timeout: 0,
        });
}
else {

        console.log("Added");
        if (this.myObj.id === 0) 
        {
          //Add
          var url = "https://pexpert.fastech.pk/api/Categories/";

          axios
            .post(url, this.myObj)

            .then((response) => {
              console.log(response);
              if (response.data.status === "error") {
                 console.log("Error saving: ", response.data);
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Request Error! <br />" + response.data.data,
                  type: "danger",
                  icon: "fa fa-ban",
                  timeout: 0,
                });
              } else {
                  
                this.errors.name = false

                this.modals.showModal = false;
                this.LoadData();
                 this.cover = "https://appick.io/u/lessons/9742175b-3fde-4003-8b2c-25fee22597fd.png" 
                 this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br />New category added",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
              }
            })
            .catch(function (error) {
              console.log(error);
              this.$notify({
                verticalAlign: "bottom",
                horizontalAlign: "center",
                message:
                  "Request Error! <br />Request cannot be processed at the moment.",
                type: "danger",
                icon: "fa fa-ban",
                timeout: 0,
              });
            })
            .finally(() => {
              this.sign = "fas fa-user-plus";
              this.saving = false;
              this.optionName = "Add";
            });
        } else 
        {
          //Edit
       
        
          var url =
             "https://pexpert.fastech.pk/api/Categories/" + this.myObj.id;
          console.log(url);
          axios({
            method: "put",
            url: url,
            data: this.myObj,
                validateStatus: (status) => {
                  return true;
                },
          })
            .catch((error) => {
              console.log("Server Error on saving: ", error);
            })
            .then((response) => {
              if (response.data.status === "error") {
                console.log("Error saving: ", response.data);
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Request Error! <br />" + response.data.data,
                  type: "danger",
                  icon: "fa fa-ban",
                  timeout: 0,
                });
              } else {
                 
                this.modals.showModal = false;
                this.LoadData();
                this.cover = "https://appick.io/u/lessons/9742175b-3fde-4003-8b2c-25fee22597fd.png" 
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br /> Category updated",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
              }
            })
            .finally(() => {
              this.sign = "far fa-edit";
              this.saving = false;
              this.optionName = "Edit";
            });
        }
      }
 

 },
    date: function (date) {
      return moment(date).format("MMMM Do YYYY, h:mm:ss a");
    },

    GetError() {
      return this.nameError;
      return this.prefixError;
    },
    AddModal() {
      
      this.saving = false;
      this.optionName = "Add";
      this.modals.showModal = true;
      this.sign = "fas fa-user-plus";
      this.errors.name = false;
       this.errors.description = false;
        this.errors.services = false;
      this.myObj.id = 0
      this.myObj.name = "",
        this.myObj.services = "",
      this.cover = "https://appick.io/u/lessons/9742175b-3fde-4003-8b2c-25fee22597fd.png"
      this.myObj.iconPath = this.cover;
      this.myObj.description = ""
    },
    editRecord(index, row) {
      this.eIndex = index;
      this.saving = false;
      this.optionName = "Edit";
      this.modals.showModal = true;
      this.sign = "far fa-edit";
       this.errors.name = false;
       this.errors.description = false;
      this.myObj.id = row.id;
      this.myObj.name = row.name;
      this.myObj.description = row.description;
      this.myObj.services = row.services;
      this.myObj.iconPath = row.iconPath;
      this.cover = this.myObj.iconPath;

     
    },
    handleDelete(index, row) {
      swal({
        title: "Are you sure?",
        text: "You want to delete" + row.name + "?",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        confirmButtonText: "Yes, delete it!",
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
      
        var axios = require('axios');

        var config = {
          method: 'delete',
          url: `https://pexpert.fastech.pk/api/categories/${row.id}`,
          headers: { }

        };

        axios(config)
        .then((response) => {
         
          console.log(JSON.stringify(response.data));
            if(response.data.status === "success")
            {
            this.$notify({
            verticalAlign: "bottom",
            horizontalAlign: "center",
            message: 'Saved! <br />Inquiry of "' + row.name + '" removed.',
            type: "danger",
            icon: "fa fa-check",
            timeout: this.$store.state.timeout,
          });      
            this.LoadData();
            }
        })
        .catch(function (error) {
          console.log(error);
        });

     


        //  var url = "http://pexpert.fastech.pk/api/Categories/"+ row.id;
        //   console.log(url);
        //    axios({
        //     method: "delete",
        //     url: url,
            
          
        //   }).then((response) => {

        //       console.log(response.status);
        //       console.log("Osama");
               

        //   })
        
        //   this.$notify({
        //     verticalAlign: "bottom",
        //     horizontalAlign: "center",
        //     message: 'Saved! <br />Inquiry of "' + row.name + '" removed.',
        //     type: "danger",
        //     icon: "fa fa-check",
        //     timeout: this.$store.state.timeout,
        //   });
        }
      });
    },
    deleteRow(row) {
      let indexToDelete = this.tableData.findIndex(
        (tableRow) => tableRow.id === row.id
      );
      if (indexToDelete >= 0) {
        this.tableData.splice(indexToDelete, 1);
      }
    },
    selectionChange(selectedRows) {
      this.selectedRows = selectedRows;
    },
  },
};
</script>
<style>
.no-border-card .card-footer {
  border-top: 0;
}
</style>
