<template>
  <div class="content" >
    <base-header class="pb-6" >
      <div class="row align-items-center py-4" >
        <div class="col-lg-6 col-7" >
          <h6 class="h2 text-white d-inline-block mb-0">Manage Promocode</h6>
        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--6">
      <modal
       :show.sync="modals.showModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-md"
      >
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
        >
          <template>
            <form role="form" class="mb--4">
             

              <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Code</label
                >
                <div class="col-md-8">
                  <base-input
                    placeholder="Enter code"
                    v-model="myObj.code"
                     v-bind:error="errors.code"
                    @focusout="checkCode()"
                  ></base-input>
                </div>
              </div>

              <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Discount (%)</label
                >
                <div class="col-md-8">
                  <base-input
                    placeholder="Enter discount"
                    v-model="myObj.discount"
                      v-bind:error="errors.discount"
                    @focusout="checkDiscount()"
                  ></base-input>
                </div>
              </div>
             
               <div class="form-group row ">
                <label class="col-md-4 col-form-label form-control-label"
                  >Valid till</label
                >
                <div class="col-md-8">
                <base-input addon-left-icon="ni ni-calendar-grid-58" 
                v-bind:error="errors.date">
                     
                          <flat-picker slot-scope="{focus, blur}"
                                    @on-open="focus"
                                    @on-close="blur"
                                    :config="{allowInput: true}"
                                    class="form-control datepicker"                                    
                                    v-model="myObj.validTill"
                                    v-bind:error="errors.date"
                                    @on-change="checkDate()"
                                   >
                        </flat-picker>
                      </base-input>
                      </div>
                  </div>  
              
               <!-- <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  ></label
                >
                <div class="col-md-8">
                  <base-input>
                    <textarea
                      class="form-control"
                      v-model="myObj.Cost"
                      id="purpose"
                      placeholder="Enter product details"
                      rows="2"
                    >
                    </textarea>
                  </base-input>
                </div>
              </div> -->

               
           



              <div style="margin-top: 10px">
                <base-button
                  :disabled="saving"
                  @click="Validate()"
                  type="primary"
                  class="col"
                >
                  <i v-bind:class="sign"></i> {{ optionName }}</base-button
                >
              </div>
            </form>
          </template>
        </card>
      </modal>
      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <template slot="header"> </template>
          <div>
            <div
              class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
            >
              <div style="margin-bottom: 25px">
                <base-button icon type="primary" @click="AddModal()">
                  <span class="btn-inner--icon"
                    ><i class="fas fa-plus"></i></span>
                  <span class="btn-inner--text">Add New Promocodes</span>
                </base-button>
              </div>

              <el-select
                hidden
                class="select-primary pagination-select"
                v-model="pagination.perPage"
                placeholder="Per page"
              >
                <el-option
                  class="select-primary pull-right"
                  v-for="item in pagination.perPageOptions"
                  :key="item"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>

              <div hidden>
                <base-input
                  v-model="searchQuery"
                  disabled
                  prepend-icon="fas fa-search"
                  placeholder="Search..."
                >
                </base-input>
              </div>
            </div>
            <el-table
              :data="queriedData"
              row-key="id"
              header-row-class-name="thead-light"
              @sort-change="sortChange"
              @selection-change="selectionChange"
            >
              <el-table-column
                v-for="column in tableColumns"
                :key="column.label"
                v-bind="column"
              >
              </el-table-column>
              <el-table-column min-width="50px" align="right" label="Options">
                <div slot-scope="{ $index, row }" class="d-flex">
                

                  <base-button
                    @click.native="handleDelete($index, row)"
                    class="remove btn-link"
                    type="danger"
                    size="sm"
                    icon
                  >
                   <i class="text-white far fa-trash-alt"></i>
                  </base-button>

                  <base-button
                    @click="editRecord($index, row)"
                    class="like btn-link"
                    type="primary"
                    size="sm"
                    icon
                  >
                    <i class="text-white far fa-edit"></i>
                  </base-button>
                </div>
              </el-table-column>
            </el-table>
          </div>
          <div
            slot="footer"
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <div class="">
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of {{ total }} entries

                <span v-if="selectedRows.length">
                  &nbsp; &nbsp; {{ selectedRows.length }} rows selected
                </span>
              </p>
            </div>
            <base-pagination
              class="pagination-no-border"
              v-model="pagination.currentPage"
              :per-page="pagination.perPage"
              :total="total"
            >
            </base-pagination>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/Breadcrumb/RouteBreadcrumb";
import { BasePagination } from "@/components";
import clientPaginationMixin from "../Tables/PaginatedTables/clientPaginationMixin";
import swal from "sweetalert2";
import users from "../Tables/users2";
import axios from "axios";
import qs from "qs";
import Vue from "vue";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
import moment from "moment";
import Multiselect from "vue-multiselect";
 import Uploader from "vux-uploader-component";
export default {
  mixins: [clientPaginationMixin],
  components: {
    Multiselect,
    BasePagination,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    flatPicker,
    Uploader,
  },
  created() {
    this.LoadData();
  },
  mounted() {},
  data() {
    return {
      currentDate: moment().format("YYYY-MM-DD"),
       fileList: [],
      errors:
         {
   code : false,
   discount : false,
   date:false,

   
 },
      myObj: {
        id: 0,
        code: "",
        validTill:null,
        discount:0,

        
      },
      propsToSearch: ["firstName", "email"],
      tableColumns: [
       
         {
          prop: "code",
          label: "Code",
          minWidth: 100,
          sortable: true,
        },
         {
          prop: "validTill",
          label: "Valid",
          minWidth: 100,
          sortable: true,
        },
         {
          prop: "discount",
          label: "Discount",
          minWidth: 220,
          sortable: true,
        },
        
        
      ],
      tableData: [],
      selectedRows: [],
      modals: {
        showModal: false,
      },
      optionName: "Add",
      saving: false,
      name: "",
      prefixname: "",
      prefixError: false,
      nameError: false,
      sign: "",
      err: {
        nameerr: false,
        contacterr: false,
        mobileerr: false,
        purposevsterr: false,
        dateerr: false,
      },
      namereg: /^[a-zA-Z]*$/,
      percentageReg: /^([0-9]{0,2})(.[0-9]{1,2}){0,1}$|^100$/,
      currentDate: moment().format("YYYY-MM-DD"),
      eIndex: 0,
    };
    
  },


  methods: {
    LoadData() {
      var url = "https://pexpert.fastech.pk/api/PromoCodes";
      axios
        .get(url)
        .then((response) => {
          if (response.data.status === "error") {
          } else {
          
                this.tableData = response.data;
                this.tableData = [];
                response.data.forEach(elem => {
              elem.validTill = elem.validTill.split("T")[0];
              this.tableData.push(elem)
            })
          }
        })
        .catch(function (error) {});
    },
resetFormErrors()
 {
 this.errors.name = false;
 },
  checkCode()
 {
if( this.myObj.code.length  !== 0 || this.myObj.code  !== "")
{
   this.errors.code = false;
} 
  else
  {
  this.errors.code = "Please enter code";
  } 
 },
 checkDiscount()
 {
if(this.myObj.discount <= 100 && this.myObj.discount  !== 0 && this.myObj.discount  !== "" )
{
  
   this.errors.discount = false;
} 
  else
  {
  this.errors.discount = "Please enter discount ";
  } 
 },
checkDate()
 {
 console.log( this.myObj.validTill)
 console.log(this.currentDate)
if(this.myObj.validTill === '' || this.myObj.validTill < this.currentDate  || this.myObj.validTill ===  null)
{
console.log("Osama");
this.errors.date = "Please enter valid date ";
} 
  else
  {
this.errors.date = false;
  } 
 },

   Validate() {
  

  this.errors.code = false;
  this.errors.discount = false;
  this.errors.date = false;

this.checkCode();
this.checkDiscount();
this.checkDate();
if(this.errors.code !== false || this.errors.discount !== false || this.errors.date !== false )
{

return this.$notify({
          verticalAlign: "bottom",
          horizontalAlign: "center",
          message: "Error! <br />" + "Please fill the form correctly",
          type: "danger",
          icon: "fa fa-ban",
          timeout: 0,
        });
}
else {

       console.log(this.myObj);
        if (this.myObj.id === 0) 
        {
             var axios = require('axios');
                var data = this.myObj

                var config = {
                  method: 'post',
                  url: 'https://pexpert.fastech.pk/api/promocodes/',
                  headers: { 
                    'Content-Type': 'application/json'
                  },
                  data : data
                };

                axios(config)
                .then( (response)=> {
                  console.log(JSON.stringify(response.data));
                  if(response.data.status === "success")
                  {
                   this.modals.showModal = false;
                   this.LoadData();
                   this.$notify({
                    verticalAlign: "bottom",
                    horizontalAlign: "center",
                    message: "Saved! <br />New promocode added",
                    type: "success",
                    icon: "fa fa-check",
                    timeout: this.$store.state.timeout,
                  });

                  }
                })
                .catch(function (error) {
                  console.log(error);
                });
        } 
       
       else 
        {
          //Edit
            var axios = require('axios');
            var data = this.myObj
            
            var config = {
              method: 'put',
              url: 'https://pexpert.fastech.pk/api/promocodes/'+ this.myObj.id,
              headers: { 
                'Content-Type': 'application/json'
              },
              data : data
            };
            console.log(this.myObj.id);
            axios(config)
            .then( (response) => {
              console.log(JSON.stringify(response.data));
              if(response.data.status === "success")
              {
                this.modals.showModal = false;
                this.LoadData();
 
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br /> promocode updated",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });

              }
            })
            .catch(function (error) {
              console.log(error);
            });


        }
      }
 

 },
    date: function (date) {
      return moment(date).format("MMMM Do YYYY, h:mm:ss a");
    },

    GetError() {
      return this.nameError;
      return this.prefixError;
    },
    AddModal() {
      
      this.saving = false;
      this.optionName = "Add";
      this.modals.showModal = true;
      this.sign = "fas fa-user-plus";
      this.errors.code = false;
      this.errors.discount = false;
      this.errors.valid = false;
       this.errors.date = false;
      this.myObj.id = 0,
      this.myObj.code = "",
      this.myObj.discount = 0,
      this.myObj.validTill = this.currentDate
      

    },
    editRecord(index, row) {
      this.eIndex = index;
      this.saving = false;
      this.optionName = "Edit";
      this.modals.showModal = true;
      this.sign = "far fa-edit";
      this.myObj.id = row.id,
      this.myObj.code = row.code;
      this.myObj.validTill = row.validTill;
      this.myObj.discount = row.discount;

    },
    handleDelete(index, row) {
     swal({
        title: "Are you sure?",
        text: "You want to delete" + row.code + "?",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        confirmButtonText: "Yes, delete it!",
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          var axios = require("axios");

          var config = {
            method: "delete",
            url: `https://pexpert.fastech.pk/api/promocodes/${row.id}`,
            headers: {},
          };

          axios(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
            if(response.data.status === "success")
            {
            this.$notify({
            verticalAlign: "bottom",
            horizontalAlign: "center",
            message: 'Saved! <br />Inquiry of "' + row.name + '" removed.',
            type: "danger",
            icon: "fa fa-check",
            timeout: this.$store.state.timeout,
          });      
            this.LoadData();
            }
              
            })
            .catch(function (error) {
              console.log(error);
            });
        }
      });
    },
    deleteRow(row) {
      let indexToDelete = this.tableData.findIndex(
        (tableRow) => tableRow.id === row.id
      );
      if (indexToDelete >= 0) {
        this.tableData.splice(indexToDelete, 1);
      }
    },
    selectionChange(selectedRows) {
      this.selectedRows = selectedRows;
    },
  },
};
</script>
<style>
.no-border-card .card-footer {
  border-top: 0;
}
</style>
