<template>
  <div class="content">
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Manage Selleing Requests</h6>
        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--6">
      <modal
        :show.sync="modals.showModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-lg"
      >
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
        >
          <template>
             <h3 class="text-center " > Property Request Details </h3>
             <hr>
                <card
          type="secondary"
          shadow
          header-classes="bg-white "
          body-classes=""
          class="border-0"
        >
        <div class="row"> 
          <div class="col-md-6"> 
         <h4>Name</h4>  <p > Muhammad Hammad </p> 
          </div>
          <div class="col-md-6"> 
          <h4>Email  </h4>  <p > hammad@gmail.com </p> 
          </div>
          
  
        </div>
     

          <div class="row"> 
          <div class="col-md-6"> 
         <h4>Contact No </h4>  <p >782127178  </p> 
          </div>
           <div class="col-md-6"> 
          <h4>Town  </h4>  <p > Ajman </p> 
          </div>
        
        </div>
        
          <div class="row"> 
          <div class="col-md-12"> 
        <h4>Property Details   </h4>  <p > Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, unde maiores excepturi, consectetur praesentium inventore et cum eligendi eveniet sequi rem optio quis dolorum iure exercitationem quam rerum magnam quibusdam. </p> 
          </div>
          
        </div>
        
          
        </card>
        <hr>

              <card
          type="secondary"
          shadow
          header-classes="bg-white "
          body-classes=""
          class="border-0"
        >
          <h3 class="text-center " > Property Images </h3>
          <template>
   <div v-if="imageStatus == true" > <h1 class="text-center "> Not Uploaded </h1> </div>
        <div >
    <gallery :images="Images"  :index="index" @close="index = null"></gallery>
    <div class="ml-2">
<div
      class="image "
      v-for="(image, imageIndex) in Images"
      :key="imageIndex"
      @click="index = imageIndex"
      :style="{ backgroundImage: 'url(' + image  + ')', width: '150px', height: '150px' }"
    ></div>
    </div>
    
  </div>

          </template>
        </card>
            
          </template>
        </card>
      </modal>

      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <template slot="header">  </template>
          <div>
            <div
              class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
            >
              <!-- <div style="margin-bottom: 25px">
                <base-button icon type="primary" @click="AddModal()">
                  <span class="btn-inner--icon"
                    ><i class="fas fa-edit"></i
                  ></span>
                  <span class="btn-inner--text">Add New User</span>
                </base-button>
              </div> -->

              <el-select
                hidden
                class="select-primary pagination-select"
                v-model="pagination.perPage"
                placeholder="Per page"
              >
                <el-option
                  class="select-primary pull-right"
                  v-for="item in pagination.perPageOptions"
                  :key="item"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>

              <div hidden>
                <base-input
                  v-model="searchQuery"
                  disabled
                  prepend-icon="fas fa-search"
                  placeholder="Search..."
                >
                </base-input>
              </div>
            </div>
            <el-table
              :data="queriedData"
              row-key="id"
              header-row-class-name="thead-light"
              @sort-change="sortChange"
              @selection-change="selectionChange"
            >
              <el-table-column
                v-for="column in tableColumns"
                :key="column.label"
                v-bind="column"
              >
              </el-table-column>
              <el-table-column min-width="50px" align="right" label="Options">
                <div slot-scope="{ $index, row }" class="d-flex">
                
                  <base-button
                    @click="editRecord($index, row)"
                    class="like btn-link"
                    type="primary"
                    size="sm"
                    icon
                  >
                    <i class="text-white far fa-eye"></i>
                  </base-button>
                  <!-- @click.native="" -->
                   <base-button  class="p-0 btn-link"
                    type="success"
                    size="sm"
                    icon
                    
                  >
     <i class="text-white  fa fa-download ml-2 mt-1" ></i>
                   
      <downloadexcel  
      :fetch           = "fetchData"
      :fields          = "json_fields"
      :before-finish   = "finishDownload"
      
      >
    </downloadexcel>
     </base-button>
                  <!-- <base-button
                    
                    class="remove btn-link"
                    type="success"
                    size="sm"
                    icon
                  >
                    <i class="text-white ni ni-cloud-download-95 mt-1" style="font-size:15px;"></i>
                  </base-button> -->

                  
                </div>
              </el-table-column>
            </el-table>
          </div>
          <div
            slot="footer"
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <div class="">
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of {{ total }} entries

                <span v-if="selectedRows.length">
                  &nbsp; &nbsp; {{ selectedRows.length }} rows selected
                </span>
              </p>
            </div>
            <base-pagination
              class="pagination-no-border"
              v-model="pagination.currentPage"
              :per-page="pagination.perPage"
              :total="total"
            >
            </base-pagination>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/Breadcrumb/RouteBreadcrumb";
import { BasePagination } from "@/components";
import clientPaginationMixin from "../Tables/PaginatedTables/clientPaginationMixin";
import swal from "sweetalert2";
import users from "../Tables/users2";
import axios from "axios";
import qs from "qs";
import Vue from "vue";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
import moment from "moment";
import Multiselect from "vue-multiselect";
import VueGallery from 'vue-gallery';
import downloadexcel from "vue-json-excel";
export default {
  mixins: [clientPaginationMixin],
  components: {
    Multiselect,
    BasePagination,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    flatPicker,
     'gallery': VueGallery,
     //downloadexcel
  },
  created() {
    this.LoadData();
  },
  mounted() {},
  data() {
    return {
      // rightName:[],
      Images:
      [
"https://appick.io/u/lessons/180771a3-135d-4211-8da1-97b901c3f4e0.jpg",
"https://appick.io/u/lessons/4502a820-ef79-48fa-a1ba-96955f9e852d.jpg",
"https://appick.io/u/lessons/93453d2a-7ed2-4827-b3ed-c975c1ff4906.jpg",
"https://appick.io/u/lessons/bfe51610-fbc5-4073-bda5-0566798145a4.jpg"
      ],
     index: null,
      errors:
         {
         name : false,
         email:false,
         password:false,

       },
       urights:["Active","InActive","Suspend"], 
      
      myObj: {
      id:0,
      name: '',
      email:'',
      password:'' ,
     
      },
      propsToSearch: ["firstName", "email"],
      tableColumns: [
        {
          prop: "name",
          label: "Name",
          minWidth: 50,
          sortable: true,
        },
        {
          prop: "email",
          label: "Email",
          minWidth: 50,
          sortable: true,
        },
        {
          prop: "contactNo",
          label: "contactNo",
          minWidth: 50,
          sortable: true,
        },
                {
          prop: "city",
          label: "City",
          minWidth: 50,
          sortable: true,
        },
      ],
      tableData: 
      [
        {
          "name":"Osama",
          "email":"osamausman121@gmail.com",
          "contactNo":"782127178",
          "city":"Ajman",
        }
      ],
      selectedRows: [],
      modals: {
        showModal: false,
      },
      optionName: "Add",
      saving: false,
      name: "",
      prefixname: "",
      prefixError: false,
      nameError: false,
      sign: "",
      err: {
        nameerr: false,
        contacterr: false,
        mobileerr: false,
        purposevsterr: false,
        dateerr: false,
      },
     
      currentDate: moment().format("YYYY-MM-DD"),
      eIndex: 0,
    };
    
  },


  methods: {
  // LoadRights()
  // {
  // var url =  "https://pexpert.fastech.pk/api/UserRights/";
  //     axios
  //       .get(url)
  //       .then((response) => {
  //         if (response.data.status === "error") {
  //         } else {
  //             this.urights=[];
  //             response.data.forEach((element) => {
  //           this.urights.push( element.name );
  //         });
  //           console.log(this.urights);
  //         }
  //       })
  //       .catch(function (error) {});
  // },

    LoadData() {
      // var url =  "https://pexpert.fastech.pk/api/Users/GetAdminUsers";
      // axios
      //   .get(url)
      //   .then((response) => {
      //     if (response.data.status === "error") {
      //     } else {
      //       this.tableData = response.data;
      //       console.log(this.tableData);
      //     }
      //   })
      //   .catch(function (error) {});
    },
resetFormErrors()
 {
 this.errors.name = false;
 },

 checkName()
 {
   var namereg= /^[a-zA-Z ]*$/;
// console.log("Osama")
if(namereg.test(this.myObj.name)  && this.myObj.name !== null && this.myObj.name !== ""  )
{
  console.log("Osama")
this.errors.name = false;

} 
  else
  {
  this.errors.name = "Please enter name";

  } 
 },
  checkEmail()
 {
 var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

if(re.test(String(this.myObj.email).toLowerCase())  && this.myObj.email !== null && this.myObj.email !== ""  )
{
  console.log("Osama")
this.errors.email = false;

} 
  else
  {
  this.errors.email = "Please enter email";

  } 
 },
   checkPassword()
 {
 var re = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;

if(re.test(this.myObj.password)  && this.myObj.password !== null && this.myObj.password !== ""  )
{
  console.log("Osama")
this.errors.password = false;

} 
  else
  {
  this.errors.password = "Minimum eight characters, at least one letter and one number";

  } 
 },

   Validate() {
 
   this.errors.name = false;
      this.errors.email = false;
      this.errors.password = false;
      this.checkName();
      this.checkEmail();
      this.checkPassword();
  if (
        this.errors.name !== false ||
        this.errors.email !== false ||
        this.errors.password !== false ) 
        {
        this.$notify({
          verticalAlign: "bottom",
          horizontalAlign: "center",
          message: "Error! <br />" + "Please fill the form correctly",
          type: "danger",
          icon: "fa fa-ban",
          timeout: 0,
        });
      }

else {
    
          
       console.log(this.myObj);

        console.log("Added");
        if (this.myObj.id === 0) 
        {
          //Add
                
                var axios = require('axios');
                  var data = this.myObj;

                  var config = {
                    method: 'post',
                    url: 'https://pexpert.fastech.pk/api/Users/AdminRegister',
                    headers: { 
                      'Content-Type': 'application/json'
                    },
                    data : data
                  };

                  axios(config)
                  .then( (response) => {
                    console.log(JSON.stringify(response.data));
                    if(response.data.status === "success")
                  {
                   this.modals.showModal = false;
                   this.LoadData();
                   this.$notify({
                    verticalAlign: "bottom",
                    horizontalAlign: "center",
                    message: "Saved! <br />New User added",
                    type: "success",
                    icon: "fa fa-check",
                    timeout: this.$store.state.timeout,
                  });

                  }
                  else if ( response.data.status === "error")
                  {
                  this.$notify({
                    verticalAlign: "bottom",
                    horizontalAlign: "center",
                    message: "Error! <br />this user is already registered.",
                    type: "danger",
                    icon: "fa fa-check",
                    timeout: this.$store.state.timeout,
                  });
                  }
                  })
                  .catch(function (error) {
                    console.log(error);
                  });


        } 
        else 
        {
          //Edit
       
          var axios = require('axios');
                  var data = this.myObj;
          var url =
             "https://pexpert.fastech.pk/api/Users/AdminUpdate/" + this.myObj.id;
          console.log(this.myObj)
          axios({
            method: "put",
            url: url,
            data: this.myObj,
            validateStatus: (status) => {
              return true;
            },
          })
            .catch((error) => {
              console.log("Server Error on saving: ", error);
            })
            .then((response) => {
              if (response.data.status === "success") 
              {
                this.modals.showModal = false;
                this.LoadData();
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br /> User updated",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
              
              
              }
              else if (response.data.status === "exist")
              {
                console.log("Error saving: ", response.data);
                 this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Error! <br />this email address is already exist! " ,
                  type: "danger",
                  icon: "fa fa-ban",
                  timeout: 0,
                });
              }
              else {
              
              console.log("Error saving: ", response.data);
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Request Error! <br />" + response.data.data,
                  type: "danger",
                  icon: "fa fa-ban",
                  timeout: 0,
                });
   
              
              }
            })
            .finally(() => {
              this.sign = "far fa-edit";
              this.saving = false;
              this.optionName = "Edit";
            });
        }
      }
 

 },
    date: function (date) {
      return moment(date).format("MMMM Do YYYY, h:mm:ss a");
    },

    GetError() {
      return this.nameError;
      return this.prefixError;
    },
    AddModal() {
      
      this.saving = false;
      this.optionName = "Add";
      this.modals.showModal = true;
      this.sign = "fas fa-user-plus";
      this.errors.name = false; 
      this.myObj.name = "";
       this.myObj.email = "";
      this.myObj.password = "";
       this.errors.email = false;
      this.errors.password = false;
     
    },
    editRecord(index, row) {
      this.eIndex = index;
      this.saving = false;
      this.optionName = "Edit";
      this.modals.showModal = true;
      this.sign = "far fa-edit";
      this.myObj.id = row.id;
      this.myObj.name = row.name;
     
      this.myObj.email = row.email;
      this.myObj.password = row.password;


     
    },
    handleDelete(index, row) {
    swal({
        title: "Are you sure?",
        text: "You want to delete" + " " + row.name + "?",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        confirmButtonText: "Yes, delete it!",
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          var axios = require("axios");

          var config = {
            method: "delete",
            url: `https://pexpert.fastech.pk/api/Users/${row.id}`,
            headers: {},
          };

          axios(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
            if(response.data.status === "success")
            {
            this.$notify({
            verticalAlign: "bottom",
            horizontalAlign: "center",
            message: 'Saved! <br />Inquiry of "' + row.name + '" removed.',
            type: "danger",
            icon: "fa fa-check",
            timeout: this.$store.state.timeout,
          });      
            this.LoadData();
            }
              
            })
            .catch(function (error) {
              console.log(error);
            });
        }
      });
    },
    deleteRow(row) {
      let indexToDelete = this.tableData.findIndex(
        (tableRow) => tableRow.id === row.id
      );
      if (indexToDelete >= 0) {
        this.tableData.splice(indexToDelete, 1);
      }
    },
    selectionChange(selectedRows) {
      this.selectedRows = selectedRows;
    },
  },
};
</script>
<style>
.no-border-card .card-footer {
  border-top: 0;
}
</style>
<style scoped>
  .image {
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #ebebeb;
    margin: 5px;
  }
</style> 
