<template>
  <div class="content">
    <base-header class="pb-6" style="background-color: #1e93e2">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Manage Questions</h6>
        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--6">
      <modal
        :show.sync="modals.showModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-md"
      >
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
        >
          <template>
            <form role="form" class="mb--4">
              <div class="form-group row">
                <label class="col-md-4 col-form-label form-control-label"
                  >Quiz</label
                >
                <div class="col-md-8">
                  <multiselect
                    style="margin-bottom: 15px"
                    placeholder="Select quiz"
                    v-model="collectionData"
                    :options="quizzes"
                    :close-on-select="true"
                    :clear-on-select="false"
                    :hide-selected="false"
                    :preserve-search="true"
                    label="title"
                    track-by="id"
                    class="p-0"
                    :disabled="loadingq"
                  >
                  </multiselect>
                  <small style="color: red" v-if="this.errors.quizId !== false">
                    Please select quiz.
                  </small>
                </div>
              </div>

              <!--  -->

              <div class="form-group row">
                <label class="col-md-4 col-form-label form-control-label"
                  >Question Type</label
                >
                <div class="col-md-8">
                  <multiselect
                    style="margin-bottom: 15px"
                    placeholder="Select question type"
                    v-model="myObj.type"
                    :options="types"
                    :close-on-select="true"
                    :clear-on-select="false"
                    :hide-selected="false"
                    :preserve-search="true"
                    id="example"
                  >
                  </multiselect>
                  <small style="color: red" v-if="this.errors.type !== false">
                    Please select type.
                  </small>
                </div>
              </div>

              <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Question Text</label
                >
                <div class="col-md-8">
                  <base-input v-bind:error="errors.questionText">
                    <textarea
                      placeholder="Enter question text here."
                      v-model="myObj.questionText"
                      v-bind:error="errors.questionText"
                      @focusout="checkQuestionText()"
                      class="form-control"
                      rows="3"
                    >
                    </textarea>
                  </base-input>
                </div>
              </div>

              <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Media (optional)</label
                >
                <div class="col-md-8">
                  <base-input>
                    <input
                      type="file"
                      class="form-control"
                      accept="*"
                      ref="mfilee"
                      @change="selectMFile()"
                    />
                  </base-input>

                  <base-progress
                    show-label
                    type="info"
                    :height="8"
                    v-if="progress"
                    :striped="true"
                    :showLabel="loading"
                    label="File uploaded"
                    :value="uploadPercentage"
                  ></base-progress>
                  <!-- <base-input
                    placeholder="Paste photo or video link here."
                    v-model="myObj.media"
                 v-bind:error="errors.media"
                   
                  ></base-input> -->
                </div>
              </div>

              <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Options</label
                >
                <div class="col-md-8">
                  <base-input v-bind:error="errors.answers">
                    <textarea
                      v-model="myObj.answers"
                      v-bind:error="errors.answers"
                      @focusout="checkAnswers()"
                      class="form-control"
                      placeholder="Enter options sperated by comma. "
                      rows="2"
                    >
                    </textarea>
                  </base-input>
                </div>
              </div>
              <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Correct Answer</label
                >
                <div class="col-md-8">
                  <base-input
                    placeholder="Enter correct answer."
                    v-model="myObj.correctAns"
                    v-bind:error="errors.correctAns"
                    @focusout="checkCorrectAns()"
                  ></base-input>
                </div>
              </div>

              <div style="margin-top: 10px">
                <base-button
                  :disabled="saving"
                  @click="Validate()"
                  style="background-color: #1e93e2"
                  type="primary"
                  class="col"
                >
                  <i v-bind:class="sign"></i> {{ optionName }}</base-button
                >
              </div>
            </form>
          </template>
        </card>
      </modal>
      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-auto col-sm-6 col-6">
                <base-button
                  icon
                  type="primary"
                  size="md"
                  style="background-color: #1e93e2"
                  @click="AddModal()"
                >
                  <span class="btn-inner--icon"
                    ><i class="fas fa-plus"></i
                  ></span>
                  <span class="btn-inner--text">Add Question</span>
                </base-button>
              </div>

              <!-- <div class="col-md-auto col-sm-6 col-6 mr-2 "  >
       <base-button   icon type="primary" size="md" >

      <downloadexcel  
      :fetch           = "fetchData"
      :fields          = "json_fields"
      :before-finish   = "finishDownload"
      >
      <i v-bind:class="sign"> </i>
     Export Properties
    </downloadexcel>
     </base-button>
            
              </div> -->
            </div>
          </div>

          <div class="mt-4">
            <!-- <div
              class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
            >
             
               <el-select
                hidden
                class="select-primary pagination-select"
                v-model="pagination.perPage"
                placeholder="Per page"
              >
                <el-option
                  class="select-primary pull-right"
                  v-for="item in pagination.perPageOptions"
                  :key="item"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select> 

            <div hidden>
                <base-input
                  v-model="searchQuery"
                  disabled
                  prepend-icon="fas fa-search"
                  placeholder="Search..."
                >
                </base-input>
              </div> 
            </div> -->
            <el-table
              :data="queriedData"
              row-key="id"
              header-row-class-name="thead-light"
              @sort-change="sortChange"
              @selection-change="selectionChange"
            >
              <el-table-column
                v-for="column in tableColumns"
                :key="column.label"
                v-bind="column"
              >
              </el-table-column>
              <el-table-column min-width="50px" align="right" label="Options">
                <div slot-scope="{ $index, row }" class="d-flex">
                  <base-button
                    @click="editRecord($index, row)"
                    class="like btn-link"
                    type="info"
                    size="sm"
                    icon
                    style="background-color: #1e93e2"
                  >
                    <i class="text-white far fa-edit"></i>
                  </base-button>
                  <base-button
                    @click.native="handleDelete($index, row)"
                    class="remove btn-link"
                    type="danger"
                    size="sm"
                    icon
                  >
                    <i class="text-white far fa-trash-alt"></i>
                  </base-button>
                </div>
              </el-table-column>
            </el-table>
          </div>
          <div
            slot="footer"
            class="
              col-12
              d-flex
              justify-content-center justify-content-sm-between
              flex-wrap
            "
          >
            <div class="">
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of {{ total }} entries

                <span v-if="selectedRows.length">
                  &nbsp; &nbsp; {{ selectedRows.length }} rows selected
                </span>
              </p>
            </div>
            <base-pagination
              class="pagination-no-border"
              v-model="pagination.currentPage"
              :per-page="pagination.perPage"
              :total="total"
            >
            </base-pagination>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/Breadcrumb/RouteBreadcrumb";
import { BasePagination } from "@/components";
import clientPaginationMixin from "../Tables/PaginatedTables/clientPaginationMixin";
import swal from "sweetalert2";
import users from "../Tables/users2";
import axios from "axios";
import qs from "qs";
import Vue from "vue";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
import moment from "moment";
import Multiselect from "vue-multiselect";
import DropzoneFileUpload from "@/components/Inputs/DropzoneFileUpload";
import Uploader from "vux-uploader-component";
import BaseInput from "../../components/Inputs/BaseInput.vue";
export default {
  mixins: [clientPaginationMixin],
  components: {
    Multiselect,
    BasePagination,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    flatPicker,
    DropzoneFileUpload,
    Uploader,
    BaseInput,
  },
  created() {
    this.LoadData();
    this.LoadQuizzes();
  },
  mounted() {},
  data() {
    return {
      progress: false,
      fileSingle: [],
      uploadPercentage: 0,
      collectionData: [],
      loadingq: false,
      quizzes: [],
      types: ["Text", "Video", "Picture"],
      cover:
        "https://dk0pm9zdlq16s.cloudfront.net/e87f2709-88b0-46cd-8737-52fe2fdf7885.png",
      more: "https://dk0pm9zdlq16s.cloudfront.net/e87f2709-88b0-46cd-8737-52fe2fdf7885.png",
      mfilee: "",
      loading: false,
      filee: "",
      fileList: [],
      errors: {
        questionText: false,
        quizId: false,
        type: false,
        answers: false,
        correctAns: false,
      },
      myObj: {
        id: 0,
        questionText: "",
        media: "",
        type: "",
        answers: "",
        correctAns: "",
        quizId: 0,
      },
      propsToSearch: ["firstName", "email"],
      tableColumns: [
        {
          prop: "title",
          label: "Quiz",
          minWidth: 50,
          sortable: true,
        },
        {
          prop: "questionText",
          label: "question Text",
          minWidth: 150,
          sortable: true,
        },
        {
          prop: "media",
          label: "Media Link",
          minWidth: 60,
          sortable: true,
        },
      ],
      tableData: [],
      selectedRows: [],
      modals: {
        showModal: false,
      },
      optionName: "Add",
      saving: false,
      name: "",
      prefixname: "",
      prefixError: false,
      nameError: false,
      sign: "",
      err: {
        nameerr: false,
        contacterr: false,
        mobileerr: false,
        purposevsterr: false,
        dateerr: false,
      },
      namereg: /^[a-zA-Z]*$/,
      currentDate: moment().format("YYYY-MM-DD"),
      eIndex: 0,
    };
  },

  methods: {
    selectUFile() {
      // console.log("Osama");
      this.loading = true;
      this.filee = this.$refs.filee.files[0];

      console.log(this.filee.name);

      console.log(this.filee, this.loading);
      //Upload cover
      if (this.filee !== "") {
        let formData = new FormData();
        formData.append("file", this.filee);
        console.log(this.filee);
        axios
          .post("https://upload.appick.io", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((e) => {
            console.log(e.data);
            // this.file = undefined;
            var fn = "https://appick.io/u/lessons/" + e.data.myresp[0].filename;
            console.log(fn);
            this.cover = fn;
            this.myObj.iconPath = this.cover;
            //console.log(this.myObj.coverImg);
            this.loading = false;
            console.log(this.loading);
          });
      }
    },

    selectMFile() {
      // console.log("Osama");
      this.progress = true;
      this.mfilee = this.$refs.mfilee.files[0];

      console.log(this.mfilee);

      //   console.log(this.filee, this.loading );
      //Upload cover
      if (this.mfilee !== "") {
        let formData = new FormData();
        formData.append("file", this.mfilee);
        console.log(this.mfilee);
        //this.loading = true;

        axios

          .post("https://upload.appick.io", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
            onUploadProgress: function (progressEvent) {
              this.uploadPercentage = parseInt(
                Math.round((progressEvent.loaded / progressEvent.total) * 100)
              );
            }.bind(this),
          })
          .then((e) => {
            console.log(e.data);
            // this.file = undefined;
            var fn = e.data.myresp[0].path;
            console.log(fn);
            this.myObj.media = fn;

            //this.myObj.media = this.cover;
            //console.log(this.myObj.coverImg);
            this.loading = true;
            console.log(this.loading);
          })
          .catch(function () {
            console.log("FAILURE!!");
          });
      }
    },

    LoadData() {
      var url =
        "https://emiratesquiz.fastech.pk/api/Questions/QuestionwithQuiz/";
      axios
        .get(url)
        .then((response) => {
          if (response.data.status === "error") {
          } else {
            this.tableData = [];
            console.log(response.data);
            this.tableData = response.data.data;
            // response.data.forEach(elem => {
            //   elem.validTill = elem.validTill.split("T")[0];

            //this.tableData.push(elem)
            // })
            console.log(response.data);
          }
        })
        .catch(function (error) {});
    },

    LoadQuizzes() {
      this.loadingq = true;
      var url = "https://emiratesquiz.fastech.pk/api/Quizzes/";
      axios
        .get(url)
        .then((response) => {
          if (response.data.status === "error") {
          } else {
            this.quizzes = [];
            // this.quizzes = response.data;

            response.data.data.forEach((elem) => {
              elem.id;
              elem.title;
              this.quizzes.push(elem);
            });
            console.log(this.quizzes);
            this.loadingq = false;
          }
        })
        .catch(function (error) {});
    },
    resetFormErrors() {
      this.errors.name = false;
    },

    checkQuestionText() {
      if (this.myObj.questionText !== "" && this.myObj.questionText !== 0) {
        this.errors.questionText = false;
      } else {
        this.errors.questionText = "Please enter question text";
      }
    },
    checkMedia() {
      if (this.myObj.media !== "" && this.myObj.media !== 0) {
        this.errors.media = false;
      } else {
        this.errors.media = "Please enter media";
      }
    },
    checkAnswers() {
      if (this.myObj.answers !== "" && this.myObj.answers !== 0) {
        this.errors.answers = false;
      } else {
        this.errors.answers = "Please enter answers";
      }
    },
    checkCorrectAns() {
      if (this.myObj.correctAns !== "" && this.myObj.correctAns !== 0) {
        this.errors.correctAns = false;
      } else {
        this.errors.correctAns = "Please enter correctAns";
      }
    },

    checkQuiz() {
      if (this.collectionData.id !== undefined) {
        this.errors.quizId = false;
      } else {
        this.errors.quizId = "Please select quiz";
      }
    },
    checkType() {
      if (this.myObj.type !== "") {
        this.errors.type = false;
      } else {
        this.errors.type = "Please select type";
      }
    },

    Validate() {
      this.errors.questionText = false;
      this.errors.quizId = false;
      this.errors.type = false;
      this.errors.answers = false;
      this.errors.correctAns = false;

      this.checkType();
      this.checkQuiz();
      this.checkCorrectAns();
      this.checkAnswers();
      this.checkQuestionText();
      if (
        this.errors.questionText !== false ||
        this.errors.quizId !== false ||
        this.errors.type !== false ||
        this.errors.answers !== false ||
        this.errors.correctAns !== false
      ) {
        return this.$notify({
          verticalAlign: "bottom",
          horizontalAlign: "center",
          message: "Error! <br />" + "Please fill the form correctly",
          type: "danger",
          icon: "fa fa-ban",
          timeout: 0,
        });
      } else {
        console.log("Added");
        if (this.myObj.id === 0) {
          //Add
          console.log(this.collectionData);

          var myid = this.collectionData.id;
          this.myObj.quizId = myid;
          console.log(this.myObj);
          var url = "https://emiratesquiz.fastech.pk/api/Questions/";
          console.log(this.myObj);
          axios
            .post(url, this.myObj)

            .then((response) => {
              console.log(response);
              if (response.data.status === "error") {
                console.log("Error saving: ", response.data);
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Request Error! <br />" + response.data.data,
                  type: "danger",
                  icon: "fa fa-ban",
                  timeout: 0,
                });
              } else {
                this.modals.showModal = false;
                this.LoadData();

                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br />New Question added",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
              }
            })
            .catch(function (error) {
              console.log(error);
              this.$notify({
                verticalAlign: "bottom",
                horizontalAlign: "center",
                message:
                  "Request Error! <br />Request cannot be processed at the moment.",
                type: "danger",
                icon: "fa fa-ban",
                timeout: 0,
              });
            })
            .finally(() => {
              this.sign = "fas fa-user-plus";
              this.saving = false;
              this.optionName = "Add";
            });
        } else {
          //Edit
          var myid = this.collectionData.id;
          this.myObj.quizId = myid;
          console.log(this.myObj);
          var url =
            "https://emiratesquiz.fastech.pk/api/Questions/" + this.myObj.id;
          console.log(url);
          axios({
            method: "put",
            url: url,
            data: this.myObj,
          })
            // .catch((error) => {
            //   console.log("Server Error on saving: ", error);
            // })
            .then((response) => {
              if (response.data.status === "success") {
                console.log(response.data);
                this.modals.showModal = false;
                this.LoadData();
                this.LoadQuizzes();
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br /> Quiz updated",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
              } else {
                console.log("Error saving: ", response.data);
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Request Error! <br />" + response.data.data,
                  type: "danger",
                  icon: "fa fa-ban",
                  timeout: 0,
                });
              }
            })
            .finally(() => {
              this.sign = "far fa-edit";
              this.saving = false;
              this.optionName = "Edit";
            });
        }
      }
    },
    date: function (date) {
      return moment(date).format("MMMM Do YYYY, h:mm:ss a");
    },

    GetError() {
      return this.nameError;
      return this.prefixError;
    },
    AddModal() {
      this.collectionData = [];
      this.saving = false;
      this.optionName = "Add";
      this.modals.showModal = true;
      this.sign = "fas fa-user-plus";
      this.errors.quizId = false;
      this.errors.questionText = false;
      this.errors.media = false;
      this.errors.type = false;
      this.errors.answers = false;
      this.errors.correctAns = "";

      this.myObj.id = 0;
      this.myObj.quizId = 0;
      this.myObj.questionText = "";
      this.myObj.media = "";
      this.myObj.type = "";
      this.myObj.answers = "";
      this.myObj.correctAns = "";
      this.loading = false;
      this.uploadPercentage = 0;
      this.$refs.mfilee.value = "";
      this.progress = false;
    },
    editRecord(index, row) {
      this.eIndex = index;
      this.saving = false;
      this.optionName = "Edit";
      this.modals.showModal = true;
      this.sign = "far fa-edit";
      this.errors.prize = false;
      this.errors.validTill = false;
      this.myObj.id = row.id;
      this.myObj.quizId = row.quizId;
      this.myObj.questionText = row.questionText;
      this.myObj.media = row.media;
      this.myObj.type = row.type;
      this.myObj.answers = row.answers;
      this.myObj.correctAns = row.correctAns;
      this.loading = false;
      this.uploadPercentage = 0;
      this.$refs.mfilee.value = "";
      this.progress = false;
      console.log(this.myObj);
      console.log(this.quizzes);
      this.quizzes.forEach((elem) => {
        if (elem.id === row.quizId) {
          this.collectionData = elem;
          this.myObj.quizId = elem.id;
        }
      });
    },
    handleDelete(index, row) {
      swal({
        title: "Are you sure?",
        text: "You want to delete this question ?",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        confirmButtonText: "Yes, delete it!",
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          var axios = require("axios");

          var config = {
            method: "delete",
            url: `https://emiratesquiz.fastech.pk/api/Questions/${row.id}`,
            headers: {},
          };

          axios(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
              if (response.data.status === "success") {
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br />Question removed.",
                  type: "danger",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
                this.LoadData();
              }
            })
            .catch(function (error) {
              console.log(error);
            });

          //  var url = "http://pexpert.fastech.pk/api/Categories/"+ row.id;
          //   console.log(url);
          //    axios({
          //     method: "delete",
          //     url: url,

          //   }).then((response) => {

          //       console.log(response.status);
          //       console.log("Osama");

          //   })

          //   this.$notify({
          //     verticalAlign: "bottom",
          //     horizontalAlign: "center",
          //     message: 'Saved! <br />Inquiry of "' + row.name + '" removed.',
          //     type: "danger",
          //     icon: "fa fa-check",
          //     timeout: this.$store.state.timeout,
          //   });
        }
      });
    },
    deleteRow(row) {
      let indexToDelete = this.tableData.findIndex(
        (tableRow) => tableRow.id === row.id
      );
      if (indexToDelete >= 0) {
        this.tableData.splice(indexToDelete, 1);
      }
    },
    selectionChange(selectedRows) {
      this.selectedRows = selectedRows;
    },
  },
};
</script>
<style>
.no-border-card .card-footer {
  border-top: 0;
}
</style>
