<template>
  <div class="content">
    <base-header class="pb-6" style="background-color: #1e93e2">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Manage Quizzes</h6>
        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--6">
      <modal
        :show.sync="modals.showModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-md"
      >
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
        >
          <template>
            <form role="form" class="mb--4">
              <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Quiz Title</label
                >
                <div class="col-md-8">
                  <base-input
                    placeholder="Enter title here."
                    v-model="myObj.title"
                    v-bind:error="errors.title"
                    @focusout="checkTitle()"
                  ></base-input>
                </div>
              </div>

              <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Time</label
                >
                <div class="col-md-8">
                  <base-input
                    placeholder="Enter number of seconds here."
                    v-model="myObj.quizTime"
                    v-bind:error="errors.quizTime"
                    @focusout="checkQuizTime()"
                  ></base-input>
                </div>
              </div>

              <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Prize Banner</label
                >
                <div class="col-md-8">
                  <base-input
                    placeholder="Enter prize here."
                    v-model="myObj.prize"
                    v-bind:error="errors.prize"
                    @focusout="checkPrize()"
                  ></base-input>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-4 col-form-label form-control-label"
                  >Icon</label
                >
                <div class="col-md-4" style="position: relative">
                  <img
                    :src="cover"
                    @click="$refs.mfilee.click()"
                    style="width: 5vw; height: 5vw; margin-rights: 40px"
                    alt="imgAdd"
                  />
                  <i
                    v-if="loading == true"
                    class="fas fa-circle-notch fa-spin fa-2x"
                    style="
                      color: #1e93e2;
                      position: absolute;
                      top: 33%;
                      left: 33%;
                      transform: translate(-50%, -50%);
                    "
                  ></i>

                  <label hidden class="btn btn-success">
                    <input
                      type="file"
                      id="mfilee"
                      ref="mfilee"
                      @change="selectMFile()"
                      accept="image/*"
                    />
                  </label>
                </div>

                <div class="col-md-4"></div>
              </div>

              <div class="form-group row">
                <label class="col-md-4 col-form-label form-control-label"
                  >Valid till</label
                >
                <div class="col-md-8">
                  <base-input
                    addon-left-icon="ni ni-calendar-grid-58"
                    v-bind:error="errors.validTill"
                  >
                    <flat-picker
                      slot-scope="{ focus, blur }"
                      @on-open="focus"
                      @on-close="blur"
                      :config="{ allowInput: true }"
                      class="form-control datepicker"
                      v-model="myObj.validTill"
                      v-bind:error="errors.date"
                      @on-change="checkDate()"
                    >
                    </flat-picker>
                  </base-input>
                </div>
              </div>

              <!-- <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Description</label
                >
                <div class="col-md-8">
                  <base-input
                      v-bind:error="errors.description"
                  >
                    <textarea
                       v-model="myObj.description"
                      v-bind:error="errors.description"
                        @focusout="checkDesc()"
                      class="form-control"
                    
                      
                      placeholder="Enter product details"
                    
                      rows="2"
                  
                    >
                    </textarea>
                  </base-input>
                </div>
              </div> -->

              <div style="margin-top: 10px">
                <base-button
                  :disabled="saving"
                  @click="Validate()"
                  style="background-color: #1e93e2"
                  type="primary"
                  class="col"
                >
                  <i v-bind:class="sign"></i> {{ optionName }}</base-button
                >
              </div>
            </form>
          </template>
        </card>
      </modal>
      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-auto col-sm-6 col-6">
                <base-button
                  icon
                  type="primary"
                  size="md"
                  style="background-color: #1e93e2"
                  @click="AddModal()"
                >
                  <span class="btn-inner--icon"
                    ><i class="fas fa-plus"></i
                  ></span>
                  <span class="btn-inner--text">Add Quiz</span>
                </base-button>
              </div>

              <!-- <div class="col-md-auto col-sm-6 col-6 mr-2 "  >
       <base-button   icon type="primary" size="md" >

      <downloadexcel  
      :fetch           = "fetchData"
      :fields          = "json_fields"
      :before-finish   = "finishDownload"
      >
      <i v-bind:class="sign"> </i>
     Export Properties
    </downloadexcel>
     </base-button>
            
              </div> -->
            </div>
          </div>

          <div class="mt-4">
            <!-- <div
              class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
            >
             
               <el-select
                hidden
                class="select-primary pagination-select"
                v-model="pagination.perPage"
                placeholder="Per page"
              >
                <el-option
                  class="select-primary pull-right"
                  v-for="item in pagination.perPageOptions"
                  :key="item"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select> 

            <div hidden>
                <base-input
                  v-model="searchQuery"
                  disabled
                  prepend-icon="fas fa-search"
                  placeholder="Search..."
                >
                </base-input>
              </div> 
            </div> -->
            <el-table
              :data="queriedData"
              row-key="id"
              header-row-class-name="thead-light"
              @sort-change="sortChange"
              @selection-change="selectionChange"
            >
              <el-table-column
                v-for="column in tableColumns"
                :key="column.label"
                v-bind="column"
              >
              </el-table-column>
              <el-table-column min-width="50px" align="right" label="Options">
                <div slot-scope="{ $index, row }" class="d-flex">
                  <base-button
                    @click="editRecord($index, row)"
                    class="like btn-link"
                    type="info"
                    size="sm"
                    style="background-color: #1e93e2"
                    icon
                  >
                    <i class="text-white far fa-edit"></i>
                  </base-button>
                  <base-button
                    @click.native="handleDelete($index, row)"
                    class="remove btn-link"
                    type="danger"
                    size="sm"
                    icon
                  >
                    <i class="text-white far fa-trash-alt"></i>
                  </base-button>
                </div>
              </el-table-column>
            </el-table>
          </div>
          <div
            slot="footer"
            class="
              col-12
              d-flex
              justify-content-center justify-content-sm-between
              flex-wrap
            "
          >
            <div class="">
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of {{ total }} entries

                <span v-if="selectedRows.length">
                  &nbsp; &nbsp; {{ selectedRows.length }} rows selected
                </span>
              </p>
            </div>
            <base-pagination
              class="pagination-no-border"
              v-model="pagination.currentPage"
              :per-page="pagination.perPage"
              :total="total"
            >
            </base-pagination>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/Breadcrumb/RouteBreadcrumb";
import { BasePagination } from "@/components";
import clientPaginationMixin from "../Tables/PaginatedTables/clientPaginationMixin";
import swal from "sweetalert2";
import users from "../Tables/users2";
import axios from "axios";
import qs from "qs";
import Vue from "vue";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
import moment from "moment";
import Multiselect from "vue-multiselect";
import Uploader from "vux-uploader-component";
export default {
  mixins: [clientPaginationMixin],
  components: {
    Multiselect,
    BasePagination,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    flatPicker,
    Uploader,
  },
  created() {
    this.LoadData();
  },
  mounted() {},
  data() {
    return {
      cover:
        "https://dk0pm9zdlq16s.cloudfront.net/e87f2709-88b0-46cd-8737-52fe2fdf7885.png",
      more: "https://dk0pm9zdlq16s.cloudfront.net/e87f2709-88b0-46cd-8737-52fe2fdf7885.png",
      mfilee: "",
      loading: false,
      filee: "",
      fileList: [],
      errors: {
        prize: false,
        validTill: false,
        icon: false,
        title: false,
        quizTime: false,
      },
      myObj: {
        id: 0,
        title: "",
        icon: "",
        prize: "",
        validTill: null,
        quizTime: "",
      },
      propsToSearch: ["firstName", "email"],
      tableColumns: [
        {
          prop: "title",
          label: "Prize",
          minWidth: 60,
          sortable: true,
        },
        {
          prop: "prize",
          label: "Prize",
          minWidth: 60,
          sortable: true,
        },
        {
          prop: "validTill",
          label: "Valid Till",
          minWidth: 100,
          sortable: true,
        },
      ],
      tableData: [],
      selectedRows: [],
      modals: {
        showModal: false,
      },
      optionName: "Add",
      saving: false,
      name: "",
      prefixname: "",
      prefixError: false,
      nameError: false,
      sign: "",
      err: {
        nameerr: false,
        contacterr: false,
        mobileerr: false,
        purposevsterr: false,
        dateerr: false,
      },
      namereg: /^[a-zA-Z]*$/,
      currentDate: moment().format("YYYY-MM-DD"),
      eIndex: 0,
    };
  },

  methods: {
    selectUFile() {
      // console.log("Osama");
      this.loading = true;
      this.filee = this.$refs.filee.files[0];

      console.log(this.filee.name);

      console.log(this.filee, this.loading);
      //Upload cover
      if (this.filee !== "") {
        let formData = new FormData();
        formData.append("file", this.filee);
        console.log(this.filee);
        axios
          .post("https://upload.appick.io", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((e) => {
            console.log(e.data);
            // this.file = undefined;
            var fn = e.data.myresp[0].path;
            console.log(fn);
            this.cover = fn;
            this.myObj.iconPath = this.cover;
            //console.log(this.myObj.coverImg);
            this.loading = false;
            console.log(this.loading);
          });
      }
    },

    selectMFile() {
      // console.log("Osama");

      this.mfilee = this.$refs.mfilee.files[0];

      // console.log(this.filee.name);

      //   console.log(this.filee, this.loading );
      //Upload cover
      if (this.mfilee !== "") {
        let formData = new FormData();
        formData.append("file", this.mfilee);
        console.log(this.mfilee);
        this.loading = true;

        axios

          .post("https://upload.appick.io", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })

          .then((e) => {
            console.log(e.data);
            // this.file = undefined;
            var fn = e.data.myresp[0].path;
            console.log(fn);
            this.cover = fn;
            this.myObj.icon = this.cover;
            //console.log(this.myObj.coverImg);
            this.loading = false;
            console.log(this.loading);
          });
      }
    },

    LoadData() {
      var url = "https://emiratesquiz.fastech.pk/api/Quizzes/";
      axios
        .get(url)
        .then((response) => {
          if (response.data.status === "error") {
          } else {
            console.log(response.data);
            this.tableData = [];
            response.data.data.forEach((elem) => {
              elem.validTill = elem.validTill.split("T")[0];

              this.tableData.push(elem);
            });
            console.log(response.data);
          }
        })
        .catch(function (error) {});
    },
    resetFormErrors() {
      this.errors.name = false;
    },
    checkQuizTime() {
      var re = /^[+]?\d+([.]\d+)?$/;
      if (
        re.test(this.myObj.quizTime) &&
        this.myObj.quizTime != 0 &&
        this.myObj.quizTime !== ""
      ) {
        this.errors.quizTime = false;
      } else {
        this.errors.quizTime = "Please enter quiz time.";
      }
    },
    checkTitle() {
      if (this.myObj.title !== "" && this.myObj.title !== 0) {
        this.errors.title = false;
      } else {
        this.errors.title = "Please enter title";
      }
    },
    checkPrize() {
      if (this.myObj.prize !== "" && this.myObj.prize !== 0) {
        this.errors.prize = false;
      } else {
        this.errors.prize = "Please enter prize";
      }
    },
    checkDate() {
      console.log(this.myObj.validTill);
      console.log(this.currentDate);
      if (
        this.myObj.validTill == "" ||
        this.myObj.validTill < this.currentDate ||
        this.myObj.validTill === null
      ) {
        console.log("Osama");
        this.errors.validTill = "Please enter valid date ";
      } else {
        this.errors.validTill = false;
      }
    },

    Validate() {
      this.errors.prize = false;
      this.errors.title = false;
      this.errors.validTill = false;
      this.errors.quizTime = false;
      this.checkDate();
      this.checkPrize();
      this.checkTitle();
      this.checkQuizTime();
      if (
        this.errors.prize !== false ||
        this.errors.validTill !== false ||
        this.errors.quizTime !== false
      ) {
        return this.$notify({
          verticalAlign: "bottom",
          horizontalAlign: "center",
          message: "Error! <br />" + "Please fill the form correctly",
          type: "danger",
          icon: "fa fa-ban",
          timeout: 0,
        });
      } else {
        console.log("Added");
        if (this.myObj.id === 0) {
          //Add
          var url = "https://emiratesquiz.fastech.pk/api/Quizzes/";

          axios
            .post(url, this.myObj)

            .then((response) => {
              console.log(response);
              if (response.data.status === "error") {
                console.log("Error saving: ", response.data);
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Request Error! <br />" + response.data.data,
                  type: "danger",
                  icon: "fa fa-ban",
                  timeout: 0,
                });
              } else {
                this.errors.validTill = false;

                this.modals.showModal = false;
                this.LoadData();
                this.cover =
                  "https://dk0pm9zdlq16s.cloudfront.net/e87f2709-88b0-46cd-8737-52fe2fdf7885.png";
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br />New Quiz added",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
              }
            })
            .catch(function (error) {
              console.log(error);
              this.$notify({
                verticalAlign: "bottom",
                horizontalAlign: "center",
                message:
                  "Request Error! <br />Request cannot be processed at the moment.",
                type: "danger",
                icon: "fa fa-ban",
                timeout: 0,
              });
            })
            .finally(() => {
              this.sign = "fas fa-user-plus";
              this.saving = false;
              this.optionName = "Add";
            });
        } else {
          //Edit

          console.log(this.myObj);
          var url =
            "https://emiratesquiz.fastech.pk/api/Quizzes/" + this.myObj.id;
          console.log(url);
          axios({
            method: "put",
            url: url,
            data: this.myObj,
            validateStatus: (status) => {
              return true;
            },
          })
            .catch((error) => {
              console.log("Server Error on saving: ", error);
            })
            .then((response) => {
              if (response.data.status === "error") {
                console.log("Error saving: ", response.data);
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Request Error! <br />" + response.data.data,
                  type: "danger",
                  icon: "fa fa-ban",
                  timeout: 0,
                });
              } else {
                this.modals.showModal = false;
                this.LoadData();
                this.cover =
                  "https://appick.io/u/lessons/723f471b-427c-4bf8-a1fd-f01f2ac129e0.png";
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br /> Quiz updated",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
              }
            })
            .finally(() => {
              this.sign = "far fa-edit";
              this.saving = false;
              this.optionName = "Edit";
            });
        }
      }
    },
    date: function (date) {
      return moment(date).format("MMMM Do YYYY, h:mm:ss a");
    },

    GetError() {
      return this.nameError;
      return this.prefixError;
    },
    AddModal() {
      this.saving = false;
      this.optionName = "Add";
      this.modals.showModal = true;
      this.sign = "fas fa-user-plus";
      this.errors.prize = false;
      this.errors.validTill = false;
      this.errors.title = false;
      this.errors.quizTime = false;

      (this.myObj.id = 0),
        (this.myObj.title = ""),
        (this.myObj.icon = ""),
        (this.myObj.quizTime = ""),
        (this.myObj.validTill = this.currentDate),
        (this.cover =
          "https://dk0pm9zdlq16s.cloudfront.net/e87f2709-88b0-46cd-8737-52fe2fdf7885.png");
      this.myObj.prize = "";
    },
    editRecord(index, row) {
      this.eIndex = index;
      this.saving = false;
      this.optionName = "Edit";
      this.modals.showModal = true;
      this.sign = "far fa-edit";
      this.errors.prize = false;
      this.errors.validTill = false;
      this.errors.quizTime = false;
      this.myObj.id = row.id;
      this.myObj.title = row.title;
      this.myObj.prize = row.prize;
      this.myObj.icon = row.icon;
      (this.myObj.quizTime = row.quizTime),
        (this.myObj.validTill = row.validTill);

      this.cover = this.myObj.icon;
    },
    handleDelete(index, row) {
      swal({
        title: "Are you sure?",
        text: "You want to delete " + row.title + "?",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        confirmButtonText: "Yes, delete it!",
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          var axios = require("axios");

          var config = {
            method: "delete",
            url: `https://emiratesquiz.fastech.pk/api/Quizzes/${row.id}`,
            headers: {},
          };

          axios(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
              if (response.data.status === "success") {
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message:
                    'Saved! <br />Inquiry of "' + row.prize + '" removed.',
                  type: "danger",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
                this.LoadData();
              }
            })
            .catch(function (error) {
              console.log(error);
            });

          //  var url = "http://pexpert.fastech.pk/api/Categories/"+ row.id;
          //   console.log(url);
          //    axios({
          //     method: "delete",
          //     url: url,

          //   }).then((response) => {

          //       console.log(response.status);
          //       console.log("Osama");

          //   })

          //   this.$notify({
          //     verticalAlign: "bottom",
          //     horizontalAlign: "center",
          //     message: 'Saved! <br />Inquiry of "' + row.name + '" removed.',
          //     type: "danger",
          //     icon: "fa fa-check",
          //     timeout: this.$store.state.timeout,
          //   });
        }
      });
    },
    deleteRow(row) {
      let indexToDelete = this.tableData.findIndex(
        (tableRow) => tableRow.id === row.id
      );
      if (indexToDelete >= 0) {
        this.tableData.splice(indexToDelete, 1);
      }
    },
    selectionChange(selectedRows) {
      this.selectedRows = selectedRows;
    },
  },
};
</script>
<style>
.no-border-card .card-footer {
  border-top: 0;
}
</style>
