<template>
  <div class="content">
    <base-header class="pb-6" style="background-color: #1e93e2">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Manage Response</h6>
        </div>
      </div>
    </base-header>
    <modal
      :show.sync="modals.showModal"
      body-classes="p-0"
      modal-classes="modal-dialog-centered modal-lg"
    >
      <card
        type="secondary"
        shadow
        header-classes="bg-white pb-5"
        body-classes=""
        class="border-0"
      >
        <div class="text-center mt-4">
          <i
            v-if="loadingdata == true"
            class="fas fa-circle-notch fa-spin fa-3x text-primary"
          ></i>
        </div>
        <div v-if="loadingdata == false">
          <div class="row">
            <div class="col-md-6">
              <h1>{{ this.myObj.title }}</h1>
            </div>

            <div class="col-md-6">
              <h1>Total time : {{ winObj.totalTime }}</h1>
            </div>
          </div>
          <card
            type="secondary"
            shadow
            header-classes="bg-white pb-5"
            body-classes=""
            class="border-0"
          >
            <h2>User</h2>
            <div class="row">
              <div class="col-md-3">
                <h4>Name</h4>
                <p>{{ myObj.name }}</p>
              </div>
              <div class="col-md-4">
                <h4>Phone</h4>
                <p>{{ myObj.phoneNo }}</p>
              </div>

              <div class="col-md-5">
                <h4>Email</h4>
                <p>{{ myObj.email }}</p>
              </div>
            </div>
          </card>
          <card
            type="secondary"
            shadow
            header-classes="bg-white pb-5"
            body-classes=""
            class="border-0"
          >
            <div class="row">
              <div class="col-md-8">
                <h2>Results</h2>
              </div>
              <div class="col-md-4">
                <base-button
                  icon
                  type="success"
                  size="md"
                  v-if="quizId.status !== 'won'"
                  @click="DeclareWinnerInDetails()"
                >
                  <span class="btn-inner--icon"
                    ><i class="ni ni-trophy"></i
                  ></span>
                  <span class="btn-inner--text">Declare Winner</span>
                </base-button>
              </div>
            </div>

            <div class="row" v-for="item in userAns" :key="item.id">
              <div class="col-md-12">
                <h3>* {{ item.questionText }}</h3>
              </div>

              <div class="col-md-3">
                <h4>Answer</h4>
                <p v-if="item.answer == item.correctAns" class="text-success">
                  <b>{{ item.answer }} </b>
                </p>
                <p v-if="item.answer !== item.correctAns" class="text-danger">
                  <b> {{ item.answer }} </b>
                </p>
              </div>
              <div class="col-md-3">
                <h4 v-if="item.answer !== item.correctAns">Correct</h4>
                <p v-if="item.answer !== item.correctAns">
                  <b>{{ item.correctAns }} </b>
                </p>
              </div>
              <div class="col-md-2">
                <h4>Time</h4>
                <p>
                  <b>{{ item.taketime }} seconds </b>
                </p>
              </div>
              <div v-if="item.type == 'Picture'" class="col-md-4">
                <img style="height: 100px" :src="item.media" alt="" />
              </div>
              <div v-if="item.type == 'Video'" class="col-md-4">
                <video width="160" height="100" controls>
                  <source :src="item.media" type="video/mp4" />
                </video>
              </div>
            </div>
          </card>
        </div>
      </card>
    </modal>
    <div class="container-fluid mt--6">
      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3 col-sm-12 col-12">
                <h1>{{ this.quizId.title }}</h1>
              </div>

              <div class="col-md-4"></div>
              <div class="col-md-2 col-sm-12 col-12">
                <label
                  class="form-control-label mt-1 offset-md-8"
                  style="font-size: 20px"
                  >Filter
                </label>
              </div>

              <div class="col-md-3 col-sm-12 col-12">
                <div>
                  <multiselect
                    placeholder="Select quiz"
                    v-model="quizId"
                    :options="quizzes"
                    :close-on-select="true"
                    :clear-on-select="false"
                    :hide-selected="false"
                    @input="LoadResponse()"
                    :preselect-first="true"
                    label="title"
                    track-by="title"
                    class="p-0"
                    :disabled="loadingq"
                  >
                  </multiselect>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-4">
            <el-table
              :data="queriedData"
              row-key="id"
              header-row-class-name="thead-light"
              @sort-change="sortChange"
              @selection-change="selectionChange"
            >
              <el-table-column
                v-for="column in tableColumns"
                :key="column.label"
                v-bind="column"
              >
              </el-table-column>
              <el-table-column min-width="50px" align="right" label="Options">
                <div slot-scope="{ row }" class="d-flex">
                  <el-tooltip placement="left" content="Declare Winner">
                    <base-button
                      @click="DeclareWinner(row)"
                      class="like btn-link"
                      type="success"
                      size="sm"
                      icon
                      v-if="row.status !== 'won'"
                    >
                      <i class="text-white ni ni-trophy"></i>
                    </base-button>
                  </el-tooltip>
                  <el-tooltip placement="right" content="View Details">
                    <base-button
                      @click="Details(row)"
                      class="remove btn-link"
                      type="info"
                      size="sm"
                      style="background-color: #1e93e2"
                      icon
                    >
                      <i class="text-white far fa-eye"></i>
                    </base-button>
                  </el-tooltip>
                </div>
              </el-table-column>
            </el-table>
          </div>
          <div
            slot="footer"
            class="
              col-12
              d-flex
              justify-content-center justify-content-sm-between
              flex-wrap
            "
          >
            <div class="">
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of {{ total }} entries

                <span v-if="selectedRows.length">
                  &nbsp; &nbsp; {{ selectedRows.length }} rows selected
                </span>
              </p>
            </div>
            <base-pagination
              class="pagination-no-border"
              v-model="pagination.currentPage"
              :per-page="pagination.perPage"
              :total="total"
            >
            </base-pagination>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/Breadcrumb/RouteBreadcrumb";
import { BasePagination } from "@/components";
import clientPaginationMixin from "../Tables/PaginatedTables/clientPaginationMixin";
import swal from "sweetalert2";
import users from "../Tables/users2";
import axios from "axios";
import qs from "qs";
import Vue from "vue";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
import moment from "moment";
import Multiselect from "vue-multiselect";
import Uploader from "vux-uploader-component";
export default {
  mixins: [clientPaginationMixin],
  components: {
    Multiselect,
    BasePagination,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    flatPicker,
    Uploader,
  },
  created() {
    this.LoadQuizzes();
    this.LoadData();
  },
  mounted() {},
  data() {
    return {
      title: "",
      onLoadQuizId: 0,
      loadingdata: false,
      cover:
        "https://dk0pm9zdlq16s.cloudfront.net/e87f2709-88b0-46cd-8737-52fe2fdf7885.png",
      more: "https://dk0pm9zdlq16s.cloudfront.net/e87f2709-88b0-46cd-8737-52fe2fdf7885.png",
      mfilee: "",
      loading: false,
      filee: "",
      fileList: [],
      errors: {
        prize: false,
        validTill: false,
        icon: false,
        title: false,
      },
      userAns: [],

      quizId: 0,
      quizzes: [],
      types: ["Text", "Video", "Picture"],
      myObj: {
        id: 0,
        title: "",
        name: "",
        phoneNo: "",
        email: "",
        validTill: null,
        quizTime: "",
      },
      winObj: {
        id: 0,
        quizId: 0,
        userId: 0,
        status: "",
        totalTime: "",
        lastWinningDate: null,
      },
      propsToSearch: ["firstName", "email"],
      tableColumns: [
        {
          prop: "name",
          label: "Name",
          minWidth: 60,
          sortable: true,
        },
        {
          prop: "phoneNo",
          label: "Contact",
          minWidth: 60,
          sortable: true,
        },
        {
          prop: "totalQuestions",
          label: "Question",
          minWidth: 60,
          sortable: true,
        },
        {
          prop: "totalAnswered",
          label: "Answered",
          minWidth: 60,
          sortable: true,
        },
        {
          prop: "correctAnswers",
          label: "Correct",
          minWidth: 60,
          sortable: true,
        },
        {
          prop: "totalTimeTaken",
          label: "Total Time",
          minWidth: 60,
          sortable: true,
        },
      ],
      tableData: [],
      selectedRows: [],
      modals: {
        showModal: false,
      },
      optionName: "Add",
      saving: false,
      name: "",
      prefixname: "",
      prefixError: false,
      nameError: false,
      sign: "",
      err: {
        nameerr: false,
        contacterr: false,
        mobileerr: false,
        purposevsterr: false,
        dateerr: false,
      },
      namereg: /^[a-zA-Z]*$/,
      currentDate: moment().format("YYYY-MM-DD"),
      eIndex: 0,
    };
  },

  methods: {
    DeclareWinnerInDetails() {
      console.log(this.winObj);
      swal({
        title: "Are you sure?",
        text:
          "You want to declare " +
          this.myObj.name +
          " as a winner of " +
          this.quizId.title +
          "?",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        confirmButtonText: "Yes, Declare !",
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          this.modals.showModal = false;
          var url = "https://emiratesquiz.fastech.pk/api/Winners/AddWinner";

          axios
            .post(url, this.winObj)

            .then((response) => {
              console.log(response);
              if (response.data.status === "success") {
                console.log("Working", response.data);

                swal(
                  this.myObj.name + " is a Winner!",
                  "You declared the winner for " + this.quizId.title + "",
                  "success"
                );

                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br />New Winner declared",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
                return this.$router.push("/fusion/winner");
              } else {
                console.log("Error saving: ", response.data);
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Request Error! <br />" + response.data.data,
                  type: "danger",
                  icon: "fa fa-ban",
                });
              }
            })
            .catch(function (error) {
              console.log(error);
              this.$notify({
                verticalAlign: "bottom",
                horizontalAlign: "center",
                message:
                  "Request Error! <br />Request cannot be processed at the moment.",
                type: "danger",
                icon: "fa fa-ban",
                timeout: 0,
              });
            })
            .finally(() => {
              this.sign = "fas fa-user-plus";
              this.saving = false;
              this.optionName = "Add";
            });
        }
      });
    },
    DeclareWinner(row) {
      this.winObj.quizId = row.quizId;
      this.winObj.userId = row.userId;
      this.winObj.totalTime = String(row.totalTimeTaken);

      console.log(this.winObj);
      swal({
        title: "Are you sure?",
        text:
          "You want to declare " +
          row.name +
          " as a winner of " +
          this.quizId.title +
          "?",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        confirmButtonText: "Yes, Declare !",
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          this.modals.showModal = false;
          var url = "https://emiratesquiz.fastech.pk/api/Winners/AddWinner";

          axios
            .post(url, this.winObj)

            .then((response) => {
              if (response.data.status === "success") {
                console.log("Working", response.data);

                swal(
                  row.name + " is a Winner!",
                  "You declared the winner for " + this.quizId.title + "",
                  "success"
                );

                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br />New Winner declared",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
                this.$router.push("/fusion/winner");
              } else {
                console.log("Error saving: ", response.data);
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Request Error! <br />" + response.data.data,
                  type: "danger",
                  icon: "fa fa-ban",
                });
              }
            })
            .catch(function (error) {
              console.log(error);
            })
            .finally(() => {
              this.sign = "fas fa-user-plus";
              this.saving = false;
              this.optionName = "Add";
            });
        }
      });
    },
    Details(row) {
      this.winObj.quizId = row.quizId;
      this.winObj.userId = row.userId;
      this.winObj.totalTime = String(row.totalTimeTaken);

      this.loadingdata = true;
      this.modals.showModal = true;
      this.myObj.title = this.quizId.title;
      this.myObj.name = row.name;
      this.myObj.email = row.email;
      this.myObj.phoneNo = row.phoneNo;
      console.log(row);
      var url =
        "https://emiratesquiz.fastech.pk/api/UserAnswers/UserResponseDetail/" +
        row.userId +
        "/" +
        row.quizId;
      axios
        .get(url)
        .then((response) => {
          if (response.data.status === "success") {
            console.log(response.data.data);
            this.userAns = response.data.data;

            this.loadingdata = false;
            //console.log(response.data);
          } else {
            this.tableData = [];
          }
        })
        .catch(function (error) {});
    },

    LoadResponse() {
      //console.log("IOsama",this.quizId.id);

      var url =
        "https://emiratesquiz.fastech.pk/api/UserAnswers/AddUserResponse/" +
        this.quizId.id;
      axios
        .get(url)
        .then((response) => {
          if (response.data.status === "success") {
            console.log(response.data);

            this.tableData = [];
            // this.tableData= response.data.data;

            response.data.data.forEach((elem) => {
              elem.totalTimeTaken = elem.totalTimeTaken + " " + "seconds";
              this.tableData.push(elem);
            });

            console.log(response.data);
          } else {
            this.tableData = [];
          }
        })
        .catch(function (error) {});
    },

    selectUFile() {
      // console.log("Osama");
      this.loading = true;
      this.filee = this.$refs.filee.files[0];

      console.log(this.filee.name);

      console.log(this.filee, this.loading);
      //Upload cover
      if (this.filee !== "") {
        let formData = new FormData();
        formData.append("file", this.filee);
        console.log(this.filee);
        axios
          .post("https://upload.appick.io", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((e) => {
            console.log(e.data);
            // this.file = undefined;
            var fn = e.data.myresp[0].path;
            console.log(fn);
            this.cover = fn;
            this.myObj.iconPath = this.cover;
            //console.log(this.myObj.coverImg);
            this.loading = false;
            console.log(this.loading);
          });
      }
    },

    selectMFile() {
      // console.log("Osama");

      this.mfilee = this.$refs.mfilee.files[0];

      // console.log(this.filee.name);

      //   console.log(this.filee, this.loading );
      //Upload cover
      if (this.mfilee !== "") {
        let formData = new FormData();
        formData.append("file", this.mfilee);
        console.log(this.mfilee);
        this.loading = true;

        axios

          .post("https://upload.appick.io", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })

          .then((e) => {
            console.log(e.data);
            // this.file = undefined;
            var fn = "https://appick.io/u/lessons/" + e.data.myresp[0].filename;
            console.log(fn);
            this.cover = fn;
            this.myObj.icon = this.cover;
            //console.log(this.myObj.coverImg);
            this.loading = false;
            console.log(this.loading);
          });
      }
    },

    LoadQuizzes() {
      this.loadingq = true;
      var url = "https://emiratesquiz.fastech.pk/api/Quizzes/";
      axios
        .get(url)
        .then((response) => {
          if (response.data.status === "error") {
          } else {
            this.quizzes = [];
            // this.quizzes = response.data;

            response.data.data.forEach((elem) => {
              elem.id;
              elem.title;
              this.quizzes.push(elem);
            });
            console.log(this.quizzes);
            this.quizId = this.quizzes[0];
            this.onLoadQuizId = this.quizzes[0].id;
            this.title = this.quizzes[0].title;
            console.log(this.onLoadQuizId);
            this.loadingq = false;
            if (this.onLoadQuizId !== 0) {
              console.log("my", this.onLoadQuizId);
              var url =
                "https://emiratesquiz.fastech.pk/api/UserAnswers/AddUserResponse/" +
                this.onLoadQuizId;
              axios
                .get(url)
                .then((response) => {
                  if (response.data.status === "success") {
                    console.log(response.data);

                    this.tableData = [];
                    // this.tableData= response.data.data;

                    response.data.data.forEach((elem) => {
                      elem.totalTimeTaken =
                        elem.totalTimeTaken + " " + "seconds";
                      this.tableData.push(elem);
                    });
                    console.log(response.data);
                  } else {
                    this.tableData = [];
                  }
                })
                .catch(function (error) {});
            }
          }
        })
        .catch(function (error) {});
    },
    LoadData() {},
    resetFormErrors() {
      this.errors.name = false;
    },

    checkTitle() {
      if (this.myObj.title !== "" && this.myObj.title !== 0) {
        this.errors.title = false;
      } else {
        this.errors.title = "Please enter title";
      }
    },
    checkPrize() {
      if (this.myObj.prize !== "" && this.myObj.prize !== 0) {
        this.errors.prize = false;
      } else {
        this.errors.prize = "Please enter prize";
      }
    },
    checkDate() {
      console.log(this.myObj.validTill);
      console.log(this.currentDate);
      if (
        this.myObj.validTill == "" ||
        this.myObj.validTill < this.currentDate ||
        this.myObj.validTill === null
      ) {
        console.log("Osama");
        this.errors.validTill = "Please enter valid date ";
      } else {
        this.errors.validTill = false;
      }
    },

    Validate() {
      this.errors.prize = false;
      this.errors.title = false;
      this.errors.validTill = false;
      this.checkDate();
      this.checkPrize();
      this.checkTitle();
      if (this.errors.prize !== false || this.errors.validTill !== false) {
        return this.$notify({
          verticalAlign: "bottom",
          horizontalAlign: "center",
          message: "Error! <br />" + "Please fill the form correctly",
          type: "danger",
          icon: "fa fa-ban",
          timeout: 0,
        });
      } else {
        console.log("Added");
        if (this.myObj.id === 0) {
          //Add
          var url = "https://emiratesquiz.fastech.pk/api/Quizzes/";

          axios
            .post(url, this.myObj)

            .then((response) => {
              console.log(response);
              if (response.data.status === "error") {
                console.log("Error saving: ", response.data);
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Request Error! <br />" + response.data.data,
                  type: "danger",
                  icon: "fa fa-ban",
                  timeout: 0,
                });
              } else {
                this.errors.validTill = false;

                this.modals.showModal = false;
                this.LoadData();
                this.cover =
                  "https://dk0pm9zdlq16s.cloudfront.net/e87f2709-88b0-46cd-8737-52fe2fdf7885.png";
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br />New Quiz added",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
              }
            })
            .catch(function (error) {
              console.log(error);
              this.$notify({
                verticalAlign: "bottom",
                horizontalAlign: "center",
                message:
                  "Request Error! <br />Request cannot be processed at the moment.",
                type: "danger",
                icon: "fa fa-ban",
                timeout: 0,
              });
            })
            .finally(() => {
              this.sign = "fas fa-user-plus";
              this.saving = false;
              this.optionName = "Add";
            });
        } else {
          //Edit

          console.log(this.myObj);
          var url =
            "https://emiratesquiz.fastech.pk/api/Quizzes/" + this.myObj.id;
          console.log(url);
          axios({
            method: "put",
            url: url,
            data: this.myObj,
            validateStatus: (status) => {
              return true;
            },
          })
            .catch((error) => {
              console.log("Server Error on saving: ", error);
            })
            .then((response) => {
              if (response.data.status === "error") {
                console.log("Error saving: ", response.data);
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Request Error! <br />" + response.data.data,
                  type: "danger",
                  icon: "fa fa-ban",
                  timeout: 0,
                });
              } else {
                this.modals.showModal = false;
                this.LoadData();
                this.cover =
                  "https://appick.io/u/lessons/723f471b-427c-4bf8-a1fd-f01f2ac129e0.png";
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Saved! <br /> Quiz updated",
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
              }
            })
            .finally(() => {
              this.sign = "far fa-edit";
              this.saving = false;
              this.optionName = "Edit";
            });
        }
      }
    },
    date: function (date) {
      return moment(date).format("MMMM Do YYYY, h:mm:ss a");
    },

    GetError() {
      return this.nameError;
      return this.prefixError;
    },
    AddModal() {
      this.saving = false;
      this.optionName = "Add";
      this.modals.showModal = true;
      this.sign = "fas fa-user-plus";
      this.errors.prize = false;
      this.errors.validTill = false;
      this.errors.title = false;

      (this.myObj.id = 0),
        (this.myObj.title = ""),
        (this.myObj.icon = ""),
        (this.myObj.quizTime = ""),
        (this.myObj.validTill = this.currentDate),
        (this.cover =
          "https://dk0pm9zdlq16s.cloudfront.net/e87f2709-88b0-46cd-8737-52fe2fdf7885.png");
      this.myObj.prize = 0;
    },
    editRecord(index, row) {
      this.eIndex = index;
      this.saving = false;
      this.optionName = "Edit";
      this.modals.showModal = true;
      this.sign = "far fa-edit";
      this.errors.prize = false;
      this.errors.validTill = false;
      this.myObj.id = row.id;
      this.myObj.title = row.title;
      this.myObj.prize = row.prize;
      this.myObj.icon = row.icon;
      (this.myObj.quizTime = row.quizTime),
        (this.myObj.validTill = row.validTill);

      this.cover = this.myObj.icon;
    },
    handleDelete(index, row) {
      swal({
        title: "Are you sure?",
        text: "You want to delete" + row.name + "?",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        confirmButtonText: "Yes, delete it!",
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          var axios = require("axios");

          var config = {
            method: "delete",
            url: `https://emiratesquiz.fastech.pk/api/Quizzes/${row.id}`,
            headers: {},
          };

          axios(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
              if (response.data.status === "success") {
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message:
                    'Saved! <br />Inquiry of "' + row.prize + '" removed.',
                  type: "danger",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
                this.LoadData();
              }
            })
            .catch(function (error) {
              console.log(error);
            });
        }
      });
    },
    deleteRow(row) {
      let indexToDelete = this.tableData.findIndex(
        (tableRow) => tableRow.id === row.id
      );
      if (indexToDelete >= 0) {
        this.tableData.splice(indexToDelete, 1);
      }
    },
    selectionChange(selectedRows) {
      this.selectedRows = selectedRows;
    },
  },
};
</script>
<style>
.no-border-card .card-footer {
  border-top: 0;
}
</style>
