<template>
  <div class="content">
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Update Settings</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-bread-crumb></route-bread-crumb>
          </nav>
        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--6">
      <modal
        :show.sync="modals.showModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-md"
      >
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
        >
          <template>
            <form role="form">
              <form role="form" class="mb--4">
                <div class="form-group row mb--2">
                  <label class="col-md-4 col-form-label form-control-label"
                    >Title</label
                  >
                  <div class="col-md-8">
                    <base-input
                      placeholder="Enter hero banner title here."
                      v-model="myObj.name"
                      v-bind:error="errors.name"
                      @focusout="checkName()"
                    ></base-input>
                  </div>
                </div>

                <div class="form-group row mb--2">
                  <label class="col-md-4 col-form-label form-control-label"
                    >Description</label
                  >
                  <div class="col-md-8">
                    <base-input v-bind:error="errors.description">
                      <textarea
                        v-model="myObj.description"
                        style="height: 100px"
                        @focusout="checkDesc()"
                        class="form-control"
                        placeholder="Enter description here."
                        rows="2"
                      >
                      </textarea>
                    </base-input>
                  </div>
                </div>

                <!-- <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Description</label
                >
                <div class="col-md-8">
                  <base-input
                      v-bind:error="errors.description"
                  >
                    <textarea
                       v-model="myObj.description"
                      v-bind:error="errors.description"
                        @focusout="checkDesc()"
                      class="form-control"


                      placeholder="Enter product details"

                      rows="2"

                    >
                    </textarea>
                  </base-input>
                </div>
              </div> -->

                <div class="form-group row mb--2">
                  <label class="col-md-4 col-form-label form-control-label"
                    >Image</label
                  >
                  <div class="col-md-4">
                    <img
                      :src="cover"
                      @click="$refs.mfilee.click()"
                      style="width: 5vw; height: 5vw; margin-rights: 40px"
                      alt="imgAdd"
                    />
                    <i
                      v-if="loading == true"
                      class="fas fa-circle-notch fa-spin fa-2x"
                      style="color: grey; margin-left: 40px"
                    ></i>

                    <label hidden class="btn btn-success">
                      <input
                        type="file"
                        id="mfilee"
                        ref="mfilee"
                        @change="selectMFile()"
                        accept="image/*"
                      />
                    </label>
                  </div>

                  <div class="col-md-4"></div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-4"></div>
                  <div class="col-md-8">
                    <small class="text-muted"
                      >Upload valid images only png and jpeg are allowed.</small
                    >
                  </div>
                </div>
              </form>
              <div>
                <base-button
                  @click="Upload()"
                  :disabled="saving"
                  style="background-color: #00c192"
                  type="success"
                  class="col mt-5"
                  ><i v-bind:class="sign"></i> {{ this.optionName }}
                </base-button>
              </div>
            </form>
          </template>
        </card>
      </modal>

      <modal
        :show.sync="modals.showCostModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-md"
      >
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
        >
          <template>
            <form role="form" class="mb--4">
              <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Video Link</label
                >
                <div class="col-md-8">
                  <base-input
                    placeholder="Video link paste it here."
                    v-model="myObj.name"
                    v-bind:error="errors.name"
                    @focusout="checkName()"
                  ></base-input>
                </div>
              </div>
              <!--
              <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Description</label
                >
                <div class="col-md-8">
                  <base-input
                      v-bind:error="errors.description"
                  >
                    <textarea
                       v-model="myObj.description"

                      style="height:100px;"
                      @focusout="checkDesc()"
                      class="form-control"


                      placeholder="Enter description here."

                      rows="2"

                    >
                    </textarea>
                  </base-input>
                </div>
              </div> -->

              <!-- <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Description</label
                >
                <div class="col-md-8">
                  <base-input
                      v-bind:error="errors.description"
                  >
                    <textarea
                       v-model="myObj.description"
                      v-bind:error="errors.description"
                        @focusout="checkDesc()"
                      class="form-control"


                      placeholder="Enter product details"

                      rows="2"

                    >
                    </textarea>
                  </base-input>
                </div>
              </div> -->

              <label hidden class="btn btn-success col">
                <input
                  type="file"
                  id="filee"
                  ref="filee"
                  @change="selectUFile()"
                  accept="image/*"
                />
              </label>

              <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Image</label
                >
                <div class="col-md-4">
                  <img
                    :src="cover"
                    @click="$refs.mfilee.click()"
                    style="width: 5vw; height: 5vw; margin-rights: 40px"
                    alt="imgAdd"
                  />
                  <i
                    v-if="loading == true"
                    class="fas fa-circle-notch fa-spin fa-2x"
                    style="color: grey; margin-left: 40px"
                  ></i>

                  <label hidden class="btn btn-success col">
                    <input
                      type="file"
                      id="mfilee"
                      ref="mfilee"
                      @change="selectMFile()"
                      accept="image/*"
                    />
                  </label>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                  <small class="text-muted"
                    >Upload valid images only png and jpeg are allowed.</small
                  >
                </div>
              </div>

              <div style="margin-top: 10px">
                <base-button
                  :disabled="saving"
                  @click="Validate()"
                  style="background-color: #00c192"
                  type="success"
                  class="col mt-3"
                >
                  <i v-bind:class="sign"></i> Update Section</base-button
                >
              </div>
            </form>
          </template>
        </card>
      </modal>

      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <template slot="header">
            <div class="row">
              <div class="col-auto">
                <base-button
                  icon
                  style="background-color: #00c192"
                  type="success"
                  @click="AddModal()"
                >
                  <!-- :disabled="isLoading" -->
                  <span class="btn-inner--icon"
                    ><i class="fas fa-edit"></i
                  ></span>
                  <span class="btn-inner--text">Update Hero Banner</span>
                </base-button>
                <base-button
                  icon
                  style="background-color: #00c192"
                  type="success"
                  @click="AddCostModal()"
                >
                  <!-- :disabled="isLoading" -->
                  <span class="btn-inner--icon"
                    ><i class="fas fa-edit"></i
                  ></span>
                  <span class="btn-inner--text">Update Hero Property</span>
                </base-button>
              </div>
              <!-- <div class="col-md-6 col-sm-6">
               <div class="row mt-2">
                 
              <label class="col-auto form-control-label"
                  > Perivous Winners</label> 
             <base-switch  type="success" v-model="switches.off"> Winners</base-switch>
                   </div>

              </div>  -->
            </div>
          </template>
          <div>
            <div
              class="
                col-12
                d-flex
                justify-content-center justify-content-sm-between
                flex-wrap
              "
            >
              <div style="margin-bottom: 5px">
                <!-- <base-button icon type="primary" @click="AddModal()">
                  <span class="btn-inner--icon"
                    ><i class="fas fa-edit"></i
                  ></span>
                  <span class="btn-inner--text">Update Footer</span>
                </base-button> -->
              </div>

              <el-select
                hidden
                class="select-primary pagination-select"
                v-model="pagination.perPage"
                placeholder="Per page"
              >
                <el-option
                  class="select-primary pull-right"
                  v-for="item in pagination.perPageOptions"
                  :key="item"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>

              <div>
                <!-- <base-input
                  v-model="searchQuery"
                  prepend-icon="fas fa-search"
                  placeholder="Search..."
                >
                </base-input> -->
              </div>
            </div>
            <!-- <el-table
              :data="queriedData"
              row-key="id"
              header-row-class-name="thead-light"
              @sort-change="sortChange"
              @selection-change="selectionChange"
            >
              <el-table-column
                v-for="column in tableColumns"
                :key="column.label"
                v-bind="column"
              >
              </el-table-column>
               <el-table-column min-width="180px" align="right" label="Options">
                <div slot-scope="{ $index, row }" class="d-flex">
                  <base-button
                    @click="editRecord($index, row)"
                    class="like btn-link"
                    type="primary"
                    size="sm"
                    icon
                  >
                    <i class="text-white far fa-edit"></i>
                  </base-button>
                </div>
              </el-table-column> 
            </el-table> -->
          </div>
          <!-- <div
            slot="footer"
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <div class="">
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of {{ total }} entries

                <span v-if="selectedRows.length">
                  &nbsp; &nbsp; {{ selectedRows.length }} rows selected
                </span>
              </p>
            </div>
            <base-pagination
              class="pagination-no-border"
              v-model="pagination.currentPage"
              :per-page="pagination.perPage"
              :total="total"
            >
            </base-pagination>
          </div> -->
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/Breadcrumb/RouteBreadcrumb";
import { BasePagination } from "@/components";
import clientPaginationMixin from "../Tables/PaginatedTables/clientPaginationMixin";
import swal from "sweetalert2";
import axios from "axios";
import qs from "qs";
import Vue from "vue";

export default {
  mixins: [clientPaginationMixin],
  components: {
    BasePagination,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
  },
  created() {
    // LoadData();
    this.LoadCostData();
    //var url = this.$store.state.domain + "/Banners";
    axios
      .get(url)
      .then((response) => {
        if (response.data.status === "error") {
        } else {
          this.myObj = response.data[0];
          this.isLoading = false;
          //console.log.log(myObj);
          this.tableData.push(this.myObj);
        }
      })
      .catch(function (error) {});
  },
  data() {
    return {
      switches: {
        off: false,
        on: true,
      },
      cover:
        "https://dk0pm9zdlq16s.cloudfront.net/e87f2709-88b0-46cd-8737-52fe2fdf7885.png",
      isLoading: true,
      myObj: {},
      myCostObj: {},
      propsToSearch: ["batch"],
      tableColumns: [
        {
          type: "selection",
        },
        {
          prop: "title",
          label: "Banner title",
          minWidth: 800,
          sortable: true,
        },
        {
          prop: "buttonText",
          label: "Button Text",
          minWidth: 800,
          sortable: true,
        },
      ],
      tableData: [],
      selectedRows: [],
      modals: {
        showModal: false,
        showCostModal: false,
      },
      optionName: "Update Banner",
      file: "",
      name: "",
      prefixname: "",
      prefixError: false,
      nameError: false,
      sign: "fas fa-user-plus",
      shouldAdd: true,
      saving: false,
      eIndex: 0,
    };
  },
  methods: {
    // LoadCostData() {
    //   // var url = "https://api.thrillerme.com/settings";
    //   axios
    //     .get(url)
    //     .then((response) => {
    //       if (response.data.status === "error") {
    //       } else {
    //         this.myCostObj = response.data.result[0];
    //       }
    //     })
    //     .catch(function (error) {});
    // },
    Upload() {
      //console.log.log("File:", this.file);
      this.optionName = "Uploading...";
      if (this.file !== "") {
        let formData = new FormData();
        formData.append("file", this.file);
        //console.log.log(this.file);
        axios
          .post("https://upload.appick.io", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((e) => {
            //console.log.log(e.data);
            // this.file = undefined;
            var fn = "https://appick.io/u/lessons/" + e.data.myresp[0].filename;
            this.myObj.imageURL = fn;
            this.updateBanner();
          });
      } else {
        this.updateBanner();
      }
    },
    AddCostSettings() {
      //Add
      // var url = "https://api.thrillerme.com/settings";

      axios
        .post(url, this.myCostObj)
        .then((response) => {
          //console.log.log(response);
          if (response.data.status === "error") {
            //console.log.log("Error saving: ", response.data);
            this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message: "Request Error! <br />" + response.data.data,
              type: "danger",
              icon: "fa fa-ban",
              timeout: 0,
            });
          } else {
            this.modals.showCostModal = false;
            this.LoadData();
            this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message: "Saved! <br />New Setting Updated",
              type: "success",
              icon: "fa fa-check",
              timeout: this.$store.state.timeout,
            });
          }
        })
        .catch(function (error) {
          //console.log.log(error);
          this.$notify({
            verticalAlign: "bottom",
            horizontalAlign: "center",
            message:
              "Request Error! <br />Request cannot be processed at the moment.",
            type: "danger",
            icon: "fa fa-ban",
            timeout: 0,
          });
        })
        .finally(() => {
          this.sign = "fas fa-user-plus";
          this.saving = false;
          this.optionName = "Add";
        });
    },
    updateBanner() {
      // var url = this.$store.state.domain + "/banners/" + this.myObj.banner_id;

      //console.log.log("url:", url);
      //console.log.log("data:", this.myObj);
      axios
        .put(url, this.myObj)
        .then((response) => {
          //console.log.log(response);
          if (response.data.status === "error") {
            this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message: "Request Error! <br />" + response.data.data,
              type: "danger",
              icon: "fa fa-ban",
              timeout: 0,
            });
          } else {
            this.modals.showModal = false;
            this.$notify({
              verticalAlign: "bottom",
              horizontalAlign: "center",
              message: "Saved! <br /> Banner updated.",
              type: "success",
              icon: "fa fa-check",
              timeout: this.$store.state.timeout,
            });
          }
        })
        .catch(function (error) {
          //console.log.log(error);
          this.$notify({
            verticalAlign: "bottom",
            horizontalAlign: "center",
            message:
              "Request Error! <br />Request cannot be processed at the moment.",
            type: "danger",
            icon: "fa fa-ban",
            timeout: 0,
          });
        });

      //Update Banner API
      ////console.log.log(fn);
      this.optionName = "Update Banner";
      this.modals.showModal = false;
    },
    selectFile() {
      this.file = this.$refs.file.files[0];
    },
    Validate() {
      if (this.myObj.batch.length === 0) {
        this.nameError = "Enter Batch";
      } else {
        //Save to DB

        this.sign = "fas fa-circle-notch fa-spin";
        this.saving = true;
        this.optionName = "Saving";
        if (this.myObj.id > 0) {
          //Edit
          // var url =
          //   this.$store.state.domain +
          //   "/Batch/Edit?_db=" +
          //   this.$store.state.db +
          //   "&cID=" +
          //   this.$store.state.cID;
          axios
            .post(url, qs.stringify(this.myObj))
            .then((response) => {
              if (response.data.status === "error") {
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Request Error! <br />" + response.data.data,
                  type: "danger",
                  icon: "fa fa-ban",
                  timeout: 0,
                });
              } else {
                this.modals.showModal = false;
                Vue.set(this.tableData, this.eIndex, response.data.data);
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message:
                    'Saved! <br />Batch "' + this.myObj.batch + '" updated.',
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
              }
            })
            .catch(function (error) {
              //console.log.log(error);
              this.$notify({
                verticalAlign: "bottom",
                horizontalAlign: "center",
                message:
                  "Request Error! <br />Request cannot be processed at the moment.",
                type: "danger",
                icon: "fa fa-ban",
                timeout: 0,
              });
            })
            .finally(() => {
              this.sign = "far fa-edit";
              this.saving = false;
              this.optionName = "Edit";
            });
        } else {
          //Add
          //console.log.log("Obj: ", this.myObj);
          // var url =
          //   this.$store.state.domain +
          //   "/Batch/Create?_db=" +
          //   this.$store.state.db +
          //   "&cID=" +
          //   this.$store.state.cID;
          axios
            .post(url, qs.stringify(this.myObj))
            .then((response) => {
              if (response.data.status === "error") {
                //console.log.log("Error", response.data);
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Request Error! <br />" + response.data.data,
                  type: "danger",
                  icon: "fa fa-ban",
                  timeout: 0,
                });
              } else {
                this.modals.showModal = false;
                this.tableData.push(response.data.data);
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message:
                    'Saved! <br />Batch "' + this.myObj.batch + '" added.',
                  type: "success",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
              }
            })
            .catch(function (error) {
              //console.log.log(error);
              this.$notify({
                verticalAlign: "bottom",
                horizontalAlign: "center",
                message:
                  "Request Error! <br />Request cannot be processed at the moment.",
                type: "danger",
                icon: "fa fa-ban",
                timeout: 0,
              });
            })
            .finally(() => {
              this.sign = "fas fa-user-plus";
              this.saving = false;
              this.optionName = "Update Banner";
            });
        }
        this.nameError = false;
      }
    },
    GetError() {
      return this.nameError;
      return this.prefixError;
    },
    AddModal() {
      this.saving = false;
      this.shouldAdd = true;
      this.optionName = "Update Banner";
      this.modals.showModal = true;
      this.sign = "fas fa-user-plus";
    },
    AddCostModal() {
      this.saving = false;
      this.shouldAdd = true;
      this.optionName = "Add";
      this.modals.showCostModal = true;
      this.sign = "fas fa-user-plus";

      // this.myObj.user_id = 0;
      // this.myObj.firstName = "";
      // this.myObj.lastName = "";
      // this.myObj.email = "";
      // this.myObj.password = "";
      // this.myObj.verification_code = null;
      // this.myObj.isAuthenticated = true;
      // this.myObj.isApproved = true;
      // this.myObj.isSuspended = false;
      // this.myObj.suspendedTill = null;
      // this.myObj.defaultSize = null;
      // this.myObj.userInfo = null;
      // this.myObj.user_role = 3;
      // this.myObj.business_name = null;
      // this.myObj.contact = null;
      // this.myObj.paypal = null;
      // this.myObj.address = null;
    },
    editRecord(index, row) {
      this.eIndex = index;
      this.saving = false;
      this.myObj.id = row.id;
      this.myObj.batch = row.batch;

      this.shouldAdd = false;
      this.optionName = "Edit";
      this.modals.showModal = true;
      this.sign = "far fa-edit";
    },
    handleDelete(index, row) {
      swal({
        title: "Are you sure?",
        text: "You want to delete batch " + row.batch + "?",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        confirmButtonText: "Yes, delete it!",
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          //Remove API
          // var url =
          //   this.$store.state.domain +
          //   "/Batch/Delete?id=" +
          //   row.id +
          //   "&_db=" +
          //   this.$store.state.db;
          //console.log.log("Remove: " + url);
          axios
            .post(url, qs.stringify(""))
            .then((response) => {
              if (response.data.status === "error") {
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: "Request Error! <br />" + response.data.data,
                  type: "danger",
                  icon: "fa fa-ban",
                  timeout: 0,
                });
              } else {
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message: 'Saved! <br />Batch "' + row.batch + '" removed.',
                  type: "danger",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });

                this.deleteRow(row);
              }
            })
            .catch(function (error) {
              this.$notify({
                verticalAlign: "bottom",
                horizontalAlign: "center",
                message: "Request Error! <br />" + response.data.data,
                type: "danger",
                icon: "fa fa-ban",
                timeout: 0,
              });
            });
        }
      });
    },
    deleteRow(row) {
      let indexToDelete = this.tableData.findIndex(
        (tableRow) => tableRow.id === row.id
      );
      if (indexToDelete >= 0) {
        this.tableData.splice(indexToDelete, 1);
      }
    },
    selectionChange(selectedRows) {
      this.selectedRows = selectedRows;
    },
  },
  computed: {
    getData() {
      return this.$store.state.gridData;
    },
  },
};
</script>
<style>
.no-border-card .card-footer {
  border-top: 0;
}
</style>
