<template>
  <div class="content">
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Manage Users</h6>
        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--6">
      <modal
        :show.sync="modals.showModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-md"
      >
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
        >
          <template>
            <form role="form" class="mb--4">
              <div class="form-group row mb--2">
                <label class="col-md-4 col-form-label form-control-label"
                  >Status</label
                >
                <div class="col-md-8">
                  <multiselect
                    style="margin-bottom: 15px"
                    placeholder="Select rights"
                    v-model="myObj.right"
                    :options="urights"
                    :multiple="false"
                    :close-on-select="false"
                    :clear-on-select="false"
                    :hide-selected="false"
                    :preserve-search="true"
                    :preselect-first="true"
                  >
                  </multiselect>
                </div>
              </div>
              <div>
                <base-button
                  :disabled="saving"
                  @click="Validate()"
                  type="primary"
                  class="mt-3 col"
                >
                  <i v-bind:class="sign"></i> {{ optionName }}</base-button
                >
              </div>
            </form>
          </template>
        </card>
      </modal>

      <div>
        <card
          class="no-border-card"
          body-classes="px-0 pb-1"
          footer-classes="pb-2"
        >
          <template slot="header"> </template>
          <div>
            <div
              class="
                col-12
                d-flex
                justify-content-center justify-content-sm-between
                flex-wrap
              "
            >
              <!-- <div style="margin-bottom: 25px">
                <base-button icon type="primary" @click="AddModal()">
                  <span class="btn-inner--icon"
                    ><i class="fas fa-edit"></i
                  ></span>
                  <span class="btn-inner--text">Add New User</span>
                </base-button>
              </div> -->

              <el-select
                hidden
                class="select-primary pagination-select"
                v-model="pagination.perPage"
                placeholder="Per page"
              >
                <el-option
                  class="select-primary pull-right"
                  v-for="item in pagination.perPageOptions"
                  :key="item"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>

              <div hidden>
                <base-input
                  v-model="searchQuery"
                  disabled
                  prepend-icon="fas fa-search"
                  placeholder="Search..."
                >
                </base-input>
              </div>
            </div>
            <el-table
              :data="queriedData"
              row-key="id"
              header-row-class-name="thead-light"
              @sort-change="sortChange"
              @selection-change="selectionChange"
            >
              <el-table-column
                v-for="column in tableColumns"
                :key="column.label"
                v-bind="column"
              >
              </el-table-column>
              <el-table-column
                label="Status  "
                :data="tableColumns.slice(0, itemLimit)"
                prop="isActive"
                sortable
              >
                <template v-slot="{ row }">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span
                        class="font-weight-600 name mb-0 text-sm"
                        :class="row.isActive ? 'activeee' : 'suspenddd'"
                        >{{ row.isActive ? "Active" : "Suspend" }}</span
                      >
                    </div>
                  </div>
                </template>
              </el-table-column>

              <el-table-column min-width="50px" align="right" label="Options">
                <div slot-scope="{ $index, row }" class="d-flex">
                  <base-button
                    @click="editRecord($index, row)"
                    class="like btn-link"
                    type="primary"
                    size="sm"
                    icon
                  >
                    <i class="text-white far fa-edit"></i>
                  </base-button>
                </div>
              </el-table-column>
            </el-table>
          </div>
          <div
            slot="footer"
            class="
              col-12
              d-flex
              justify-content-center justify-content-sm-between
              flex-wrap
            "
          >
            <div class="">
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of {{ total }} entries

                <span v-if="selectedRows.length">
                  &nbsp; &nbsp; {{ selectedRows.length }} rows selected
                </span>
              </p>
            </div>
            <base-pagination
              class="pagination-no-border"
              v-model="pagination.currentPage"
              :per-page="pagination.perPage"
              :total="total"
            >
            </base-pagination>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import { Table, TableColumn, Select, Option } from "element-ui";
import RouteBreadCrumb from "@/components/Breadcrumb/RouteBreadcrumb";
import { BasePagination } from "@/components";
import clientPaginationMixin from "../Tables/PaginatedTables/clientPaginationMixin";
import swal from "sweetalert2";
import users from "../Tables/users2";
import axios from "axios";
import qs from "qs";
import Vue from "vue";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
import moment from "moment";
import Multiselect from "vue-multiselect";

export default {
  mixins: [clientPaginationMixin],
  components: {
    Multiselect,
    BasePagination,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    flatPicker,
  },
  created() {
    this.LoadData();
  },
  mounted() {},
  data() {
    return {
      // rightName:[],

      errors: {
        name: false,
        email: false,
        password: false,
      },
      urights: ["Active", "Suspend"],

      myObj: {
        id: 0,
        name: "",
        email: "",
        password: "",
        phoneNo: "",
        isActive: false,
      },
      propsToSearch: ["firstName", "email"],
      tableColumns: [
        {
          prop: "name",
          label: "Name",
          minWidth: 50,
          sortable: true,
        },
        {
          prop: "email",
          label: "Email",
          minWidth: 50,
          sortable: true,
        },
        {
          prop: "phoneNo",
          label: "Phone No",
          minWidth: 50,
          sortable: true,
        },
      ],
      tableData: [],
      selectedRows: [],
      modals: {
        showModal: false,
      },
      optionName: "Add",
      saving: false,
      name: "",
      prefixname: "",
      prefixError: false,
      nameError: false,
      sign: "",
      err: {
        nameerr: false,
        contacterr: false,
        mobileerr: false,
        purposevsterr: false,
        dateerr: false,
      },

      currentDate: moment().format("YYYY-MM-DD"),
      eIndex: 0,
    };
  },

  methods: {
    // Active() {
    //   if (this.myObj.isActive === true) {
    //     console.log("asd");
    //   } else {
    //     console.log("else");
    //   }
    // },

    Validate() {
      //Edit
      console.log(this.myObj);
      this.modals.showModal = false;
      if (this.myObj.right === "Active") {
        console.log("success");
        this.myObj.isActive = true;
        // this.modals.showModal = false;
        // this.LoadData();

        var axios = require("axios");
        var data = this.myObj;
        var url = "https://emiratesquiz.fastech.pk/api/Users/" + this.myObj.id;
        console.log(this.myObj);
        axios({
          method: "put",
          url: url,
          data: this.myObj,
          validateStatus: (status) => {
            return true;
          },
        })
          .catch((error) => {
            console.log("Server Error on saving: ", error);
          })
          .then((response) => {
            if (response.data.status === "success") {
              this.$notify({
                verticalAlign: "bottom",
                horizontalAlign: "center",
                message: "Saved! <br /> User updated",
                type: "success",
                icon: "fa fa-check",
                timeout: this.$store.state.timeout,
              });
            } else {
              console.log("Error saving: ", response.data);
              this.$notify({
                verticalAlign: "bottom",
                horizontalAlign: "center",
                message: "Request Error! <br />",
                type: "danger",
                icon: "fa fa-ban",
                timeout: 0,
              });
            }
          })
          .finally(() => {
            this.sign = "far fa-edit";
            this.saving = false;
            this.optionName = "Edit";
          });

        // }
      } else if (this.myObj.right === "Suspend") {
        console.log("Exist");
        this.myObj.isActive = false;

        // console.log("Error saving: ", response.data);

        var axios = require("axios");
        var data = this.myObj;
        var url = "https://emiratesquiz.fastech.pk/api/Users/" + this.myObj.id;
        console.log(this.myObj);
        axios({
          method: "put",
          url: url,
          data: this.myObj,
          validateStatus: (status) => {
            return true;
          },
        })
          .catch((error) => {
            console.log("Server Error on saving: ", error);
          })
          .then((response) => {
            if (response.data.status === "success") {
              this.$notify({
                verticalAlign: "bottom",
                horizontalAlign: "center",
                message: "Saved! <br /> User updated",
                type: "success",
                icon: "fa fa-check",
                timeout: this.$store.state.timeout,
              });
            } else {
              console.log("Error saving: ", response.data);
              this.$notify({
                verticalAlign: "bottom",
                horizontalAlign: "center",
                message: "Request Error! <br />",
                type: "danger",
                icon: "fa fa-ban",
                timeout: 0,
              });
            }
          })
          .finally(() => {
            this.sign = "far fa-edit";
            this.saving = false;
            this.optionName = "Edit";
          });

        // /
        this.$notify({
          verticalAlign: "bottom",
          horizontalAlign: "center",
          message: "Error! <br />this email address is already exist! ",
          type: "danger",
          icon: "fa fa-ban",
          timeout: 0,
        });
      }

      return;
      this.errors.name = false;
      this.errors.email = false;
      this.errors.password = false;
      // this.checkName(;
      // this.checkEmail();
      // this.checkPassword();)
      if (
        this.errors.name !== false ||
        this.errors.email !== false ||
        this.errors.password !== false
      ) {
        this.$notify({
          verticalAlign: "bottom",
          horizontalAlign: "center",
          message: "Error! <br />" + "Please fill the form correctly",
          type: "danger",
          icon: "fa fa-ban",
          timeout: 0,
        });
      } else {
        console.log("2222222222222222222222222222222222");
        console.log(this.myObj);

        console.log("Added");
        // if (this.myObj.id === 0) {
        //   //Add

        //   var axios = require("axios");
        //   var data = this.myObj;

        //   var config = {
        //     method: "post",
        //     url: "https://emiratesquiz.fastech.pk/api/Users/",
        //     headers: {
        //       "Content-Type": "application/json",
        //     },
        //     data: data,
        //   };

        //   axios(config)
        //     .then((response) => {
        //       console.log(JSON.stringify(response.data.data));
        //       if (response.data.data.isActive === "success") {
        //         this.modals.showModal = false;
        //         this.LoadData();
        //         this.$notify({
        //           verticalAlign: "bottom",
        //           horizontalAlign: "center",
        //           message: "Saved! <br />New User added",
        //           type: "success",
        //           icon: "fa fa-check",
        //           timeout: this.$store.state.timeout,
        //         });
        //       } else if (response.data.data.isActive === "error") {
        //         this.$notify({
        //           verticalAlign: "bottom",
        //           horizontalAlign: "center",
        //           message: "Error! <br />this user is already registered.",
        //           type: "danger",
        //           icon: "fa fa-check",
        //           timeout: this.$store.state.timeout,
        //         });
        //       }
        //     })
        //     .catch(function (error) {
        //       console.log(error);
        //     });
        // }
      }
    },

    LoadRights() {
      // var url = "https://emiratesquiz.fastech.pk/api/Users/";
      // axios
      //   .get(url)
      //   .then((response) => {
      //     if (response.data.status === "error") {
      //     } else {
      //       this.urights = [];
      //       response.data.forEach((element) => {
      //         this.urights.push(element.name);
      //       });
      //       console.log(this.urights);
      //     }
      //   })
      //   .catch(function (error) {});
    },

    LoadData() {
      var url = "https://emiratesquiz.fastech.pk/api/Users/";
      axios
        .get(url)
        .then((response) => {
          if (response.data.status === "error") {
          } else {
            this.tableData = response.data.data;
            console.log(this.tableData);
          }
        })
        .catch(function (error) {});
    },
    resetFormErrors() {
      this.errors.name = false;
    },

    checkName() {
      var namereg = /^[a-zA-Z ]*$/;
      // console.log("Osama")
      if (
        namereg.test(this.myObj.name) &&
        this.myObj.name !== null &&
        this.myObj.name !== ""
      ) {
        console.log("Osama");
        this.errors.name = false;
      } else {
        this.errors.name = "Please enter name";
      }
    },
    checkEmail() {
      var re =
        /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

      if (
        re.test(String(this.myObj.email).toLowerCase()) &&
        this.myObj.email !== null &&
        this.myObj.email !== ""
      ) {
        console.log("Osama");
        this.errors.email = false;
      } else {
        this.errors.email = "Please enter email";
      }
    },
    checkPassword() {
      var re = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;

      if (
        re.test(this.myObj.password) &&
        this.myObj.password !== null &&
        this.myObj.password !== ""
      ) {
        console.log("Osama");
        this.errors.password = false;
      } else {
        this.errors.password =
          "Minimum eight characters, at least one letter and one number";
      }
    },

    date: function (date) {
      return moment(date).format("MMMM Do YYYY, h:mm:ss a");
    },

    GetError() {
      return this.nameError;
      return this.prefixError;
    },
    AddModal() {
      this.saving = false;
      this.optionName = "Add";
      this.modals.showModal = true;
      this.sign = "fas fa-user-plus";
      this.errors.name = false;
      this.myObj.name = "";
      this.myObj.email = "";
      this.myObj.password = "";
      this.errors.email = false;
      this.errors.password = false;
    },
    editRecord(index, row) {
      this.eIndex = index;
      this.saving = false;
      this.optionName = "Edit";
      this.modals.showModal = true;
      this.sign = "far fa-edit";
      this.myObj.id = row.id;
      this.myObj.name = row.name;
      this.myObj.email = row.email;
      this.myObj.password = row.password;
      this.myObj.phoneNo = row.phoneNo;
      this.myObj.isActive = row.isActive;
      this.myObj.role = row.role;
    },
    handleDelete(index, row) {
      swal({
        title: "Are you sure?",
        text: "You want to delete" + " " + row.name + "?",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn btn-success btn-fill",
        cancelButtonClass: "btn btn-danger btn-fill",
        confirmButtonText: "Yes, delete it!",
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          var axios = require("axios");

          var config = {
            method: "delete",
            url: `https://pexpert.fastech.pk/api/Users/${row.id}`,
            headers: {},
          };

          axios(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
              if (response.data.status === "success") {
                this.$notify({
                  verticalAlign: "bottom",
                  horizontalAlign: "center",
                  message:
                    'Saved! <br />Inquiry of "' + row.name + '" removed.',
                  type: "danger",
                  icon: "fa fa-check",
                  timeout: this.$store.state.timeout,
                });
                this.LoadData();
              }
            })
            .catch(function (error) {
              console.log(error);
            });
        }
      });
    },
    deleteRow(row) {
      let indexToDelete = this.tableData.findIndex(
        (tableRow) => tableRow.id === row.id
      );
      if (indexToDelete >= 0) {
        this.tableData.splice(indexToDelete, 1);
      }
    },
    selectionChange(selectedRows) {
      this.selectedRows = selectedRows;
    },
  },
};
</script>
<style>
.no-border-card .card-footer {
  border-top: 0;
}

.activeee {
  color: rgb(61, 99, 196);
}
.suspenddd {
  color: rgb(218, 17, 17);
}
</style>
