<template>
  <div class="wrapper">
    <notifications></notifications>
    <side-bar>
      <template slot="links">
        <!-- <sidebar-item v-for="item in menu" :key="item._id"  v-bind="fa_icon"  :link="{
                  name: item._name,
                  icon: fa_icons[item._id]               }">
          <sidebar-item v-for="sub in item.Forms" :key="sub.id" :link="{ name: sub.formName, path: '/' + sub.url }"/>         


        </sidebar-item> -->
      </template>

      <template slot="links-after">
        <ul class="navbar-nav mb-md-3">
          <li class="nav-item">
            <a class="nav-link" href="#/fusion/dashboard">
              <i class="ni ni-shop"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#/fusion/quiz">
              <i class="ni ni-paper-diploma"></i>
              <span class="nav-link-text">Quiz</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/fusion/question">
              <i class="ni ni-bullet-list-67"></i>
              <span class="nav-link-text">Question</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/fusion/responses">
              <i class="ni ni-collection"></i>
              <span class="nav-link-text">Response</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/fusion/winner">
              <i class="ni ni-trophy"></i>
              <span class="nav-link-text">Winner</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/fusion/users">
              <i class="ni ni-single-02"></i>
              <span class="nav-link-text">Users</span>
            </a>
          </li>

          <!-- <li  class="nav-item">
            <a class="nav-link" href="#/fusion/time">
              <i class="fas fa-align-left"></i>
              <span class="nav-link-text">Manage Timings</span>
            </a>
          </li>
             <li  class="nav-item">
            <a class="nav-link" href="#/fusion/offers">
             <i class="fas fa-align-left"></i>
              <span class="nav-link-text">Offers</span>
            </a>
          </li>
            <li  class="nav-item">
            <a class="nav-link" href="#/fusion/amc">
             <i class="fas fa-align-left"></i>
              <span class="nav-link-text">AMC</span>
            </a>
          </li>
          <li  class="nav-item">
            <a class="nav-link" href="#/fusion/promocodes">
             <i class="fas fa-align-left"></i>
              <span class="nav-link-text">Promo code</span>
            </a>
          </li>
      
          <li  class="nav-item">
            <a class="nav-link" href="#/fusion/bookings">
              <i class="fas fa-align-left"></i>
              <span class="nav-link-text">Bookings</span>
            </a>
          </li>
          
          <li  class="nav-item">
            <a class="nav-link" href="#/fusion/users">
              <i class="fas fa-align-left"></i>
              <span class="nav-link-text">Users</span>
            </a>
          </li>  -->
        </ul>
      </template>
    </side-bar>
    <div class="main-content">
      <dashboard-navbar :type="$route.meta.navbarType"></dashboard-navbar>

      <div @click="$sidebar.displaySidebar(false)">
        <fade-transition :duration="200" origin="center top" mode="out-in">
          <router-view></router-view>
        </fade-transition>
      </div>
      <content-footer v-if="!$route.meta.hideFooter"></content-footer>
    </div>
  </div>
</template>
<script>
/* eslint-disable no-new */
import PerfectScrollbar from "perfect-scrollbar";
import "perfect-scrollbar/css/perfect-scrollbar.css";

function hasElement(className) {
  return document.getElementsByClassName(className).length > 0;
}

function initScrollbar(className) {
  if (hasElement(className)) {
    new PerfectScrollbar(`.${className}`);
  } else {
    // try to init it later in case this component is loaded async
    setTimeout(() => {
      initScrollbar(className);
    }, 100);
  }
}

import DashboardNavbar from "./DashboardNavbar.vue";
import ContentFooter from "./ContentFooter.vue";
import DashboardContent from "./Content.vue";
import { FadeTransition } from "vue2-transitions";

export default {
  components: {
    DashboardNavbar,
    ContentFooter,
    DashboardContent,
    FadeTransition,
  },
  methods: {
    initScrollbar() {
      let isWindows = navigator.platform.startsWith("Win");
      if (isWindows) {
        initScrollbar("scrollbar-inner");
      }
    },
  },
  data() {
    return {
      menu: this.$store.state.menu,
      isVetter: this.$store.state.isVetter,

      fa_icons: [
        "",
        "fas fa-home",
        "fas fa-dollar-sign",
        "fas fa-tools",
        "fas fa-tools",
        "far fa-file-alt",
        "fas fa-sms",
        "fas fa-user-circle",
        "fas fa-graduation-cap",
        "fas fa-graduation-cap",
        "fas fa-book",
        "fas fa-question-circle",
        "far fa-chart-bar",
        "fas fa-balance-scale",
      ],
    };
  },
  mounted() {
    this.initScrollbar();
  },
};
</script>
<style lang="scss"></style>
