<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <!-- <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="https://firebasestorage.googleapis.com/v0/b/uploadfiles-77366.appspot.com/o/logo.png?alt=media&token=e562d537-fa29-4b70-835a-7e968810781b"
    /> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Emirates Quiz - Admin</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta name="theme-color" content="#FFFFFF" />

    <!-- Fonts -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <noscript
      >To run this application, JavaScript is required to be enabled.</noscript
    >

    <div class="wrapper" id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
