<template>
  <div>
    <base-header class="pb-6"> </base-header>
 
    <!--Charts-->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-8">
          <card type="default" header-classes="bg-transparent">
            <div slot="header" class="row align-items-center">
              <div class="col">
                <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
                <h5 class="h3 text-white mb-0">Total Campaigns </h5>
              </div>
              <div class="col">
                <ul class="nav nav-pills justify-content-end">
                  <li class="nav-item mr-2 mr-md-0">
                    <a
                      class="nav-link py-2 px-3"
                      href="#"
                      :class="{ active: bigLineChart.activeIndex === 0 }"
                      @click.prevent="initBigChart(0)"
                    >
                      <span class="d-none d-md-block">Month</span>
                      <span class="d-md-none">M</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link py-2 px-3"
                      href="#"
                      :class="{ active: bigLineChart.activeIndex === 1 }"
                      @click.prevent="initBigChart(1)"
                    >
                      <span class="d-none d-md-block">Week</span>
                      <span class="d-md-none">W</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <line-chart
              :height="350"
              ref="bigChart"
              :chart-data="bigLineChart.chartData"
              :extra-options="bigLineChart.extraOptions"
            >
            </line-chart>
          </card>
        </div>

        <div class="col-xl-4">
          <card header-classes="bg-transparent">
            <div slot="header" class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                <h5 class="h3 mb-0">Total Campaigns</h5>
              </div>
            </div>

            <bar-chart
              :height="350"
              ref="barChart"
              :chart-data="redBarChart.chartData"
            >
            </bar-chart>
          </card>
        </div>
      </div>
      <!-- End charts-->

      <!-- Card stats -->
        <div class="row">
          <div class="col-xl-12">
   <stats-card class="bg-gradient-default">
      <!-- Card body -->
<div class="row">

  <div class="col-md-10">
<h2 class="card-title text-uppercase  text-muted mb-0 text-white"> Winners </h2>
  </div>

<div class="col-md-1 col-sm-6 offset-md-1  mt-sm-2">

        <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
            <i class="ni ni-trophy"></i>

           </div>
        </div>
</div>

 <modal
        :show.sync="modals.showPropertyModal"
        body-classes="p-0"
        modal-classes="modal-dialog-centered modal-md"
      >
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
        >
          <template>
            <h1 class="text-center"> Properties </h1>
            <br>
          <div v-for="p in properties" :key="p.id" >
  <base-button block type="primary" @click="Showprop(p)" ><span style="font-size:20px;"> {{ p }} </span> </base-button> <br>

          </div>


          </template>
        </card>
      </modal>
      <div class="row">

          <div class="col-xl-3 col-sm-6 mt-sm-2">
          <h5 class="card-title text-uppercase text-muted mb-0 text-white">TOTAL No of Winners   </h5>
          <span class="h2 font-weight-bold mb-0 text-white">350,897</span>
        </div>
        <div class="col-xl-3 col-sm-6 mt-sm-2">
          <h5 class="card-title text-uppercase text-muted mb-0 text-white">this WEEK</h5>
          <span class="h2 font-weight-bold mb-0 text-white">350,897</span>
        </div>
        <div class="col-xl-3 col-sm-6 mt-sm-2">
          <h5 class="card-title text-uppercase text-muted mb-0 text-white">this MONTH </h5>
          <span class="h2 font-weight-bold mb-0 text-white">350,897</span>
        </div>
        
      </div>

      

    </stats-card>
          </div>
          <!-- <div class="col-xl-4 col-md-6 cursor" >
          <stats-card  class="bg-gradient-default"
            style="height:144px;"

            icon="ni ni-key-25"
          >
            <h5 class="card-title text-uppercase text-muted  mb-0 text-white">NO OF KEYRINGS SOLD</h5>
          <span class="h2 font-weight-bold mb-0 text-white">350,897</span>
          </stats-card>
        </div> -->

    </div>
      <div class="row">
         <div class="col-xl-4 col-md-6 cursor">
           <stats-card
            style="height:100px;"
            title="active campaigns"
            type="gradient-blue"
            sub-title="90"
            icon="ni ni-bag-17"
          >
          </stats-card>
        </div>
          <div class="col-xl-4 col-md-6 cursor">
          <stats-card
          style="height:100px;"
            title="brilliant winners"
            type="gradient-green"
            sub-title="90"
            icon="ni ni-money-coins"
          >
          </stats-card>
        </div>
          <div class="col-xl-4 col-md-6 cursor">
          <stats-card
            style="height:100px;"
            title="Winner of the month"
            type="gradient-red"
            sub-title="Hamid"
            icon="ni ni-single-02"
          >
          </stats-card>
        </div>

      </div>
            <!-- <div class="row">
          <div class="col-xl-12">

   <stats-card class="bg-gradient-primary">
     

<div class="row">
  <div class="col-md-10">
<h2 class="card-title text-uppercase  text-muted mb-0 text-white">USERS</h2>
  </div>

<div class="col-md-1 col-sm-6 offset-md-1  mt-sm-2">

        <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
            <i class="ni ni-single-02"></i>

           </div>
        </div>
</div>
      <div class="row">
        <div class="col-xl-2 col-sm-6 mt-sm-2 ">
          <h5 class="card-title text-uppercase text-muted mb-0 text-white">SIGNED UP </h5>
          <span class="h2 font-weight-bold mb-0 text-white">350,897</span>
        </div>
          <div class="col-xl-2 col-sm-6 mt-sm-2">
          <h5 class="card-title text-uppercase text-muted mb-0 text-white">SOCIAL MEDIA</h5>
          <span class="h2 font-weight-bold mb-0 text-white">350,897</span>
        </div>
        <div class="col-xl-2 col-sm-6 mt-sm-2">
          <h5 class="card-title text-uppercase text-muted mb-0 text-white">this WEEK </h5>
          <span class="h2 font-weight-bold mb-0 text-white">350,897</span>
        </div>
        <div class="col-xl-2 col-sm-6 mt-sm-2">
          <h5 class="card-title text-uppercase text-muted mb-0 text-white">this MONTH </h5>
          <span class="h2 font-weight-bold mb-0 text-white">350,897</span>
        </div>
         <div class="col-xl-2 col-sm-6 mt-sm-2">
          <h5 class="card-title text-uppercase text-muted mb-0 text-white">Total</h5>
          <span class="h2 font-weight-bold mb-0 text-white">350,897</span>
        </div>
        
      </div>



    </stats-card>
          </div>
          

    </div> -->

    



<!-- <div class="row ml-1 mb-4">
 <base-button :type="webcolor"   @click="ActiveWButtons()">Web</base-button>
  <base-button :type="pwacolor"   @click="ActivePButtons()">PWA</base-button>
</div>
     <div class="row">
         <div class="col-xl-4 col-md-6 cursor">
           <stats-card
            style="height:100px;"
            title=" total No of visits"
            type="gradient-orange"
            sub-title="90"
            icon="ni ni-active-40"
          >
          </stats-card>
        </div>
        <div class="col-xl-4 col-md-6 cursor">
          <stats-card
            style="height:100px;"
            title="total No of checkout visits "
            type="gradient-green"
            sub-title="90"
            icon="ni ni-credit-card"
          >
          </stats-card>
        </div>

        <div class="col-xl-4 col-md-6 cursor">
          <stats-card
          style="height:100px;"
            title="total No of sales "
            type="gradient-red"
            sub-title="90"
            icon="ni ni-chart-bar-32"
          >
          </stats-card>
        </div>

      </div> -->

      <!--Lists-->
      <!-- <div class="row">
        <div class="col-xl-4">
          <card>
            <h5 class="h3 mb-0" slot="header">Recent Vendors</h5>

            <vendors-list></vendors-list>
          </card>
        </div>
        <div class="col-xl-4">
          <card>
            <h5 class="h3 mb-0" slot="header">Top Customers</h5>

            <top-vendors></top-vendors>
          </card>
        </div>
        <div class="col-xl-4">
          <card>
            <h5 class="h3 mb-0" slot="header">Top Vendors</h5>

            <top-vendors></top-vendors>
          </card>
        </div>
      </div> -->
      <!--End lists-->
    </div>
  </div>
</template>
<script>
// Charts
import * as chartConfigs from "@/components/Charts/config";
import LineChart from "@/components/Charts/LineChart";
import BarChart from "@/components/Charts/BarChart";

// Components
import BaseProgress from "@/components/BaseProgress";
import RouteBreadCrumb from "@/components/Breadcrumb/RouteBreadcrumb";
import StatsCard from "@/components/Cards/StatsCard";

// Lists
import ActivityFeed from "./ActivityFeed";
import TaskList from "./TaskList";
import VendorsList from "./VendorsList";
import TopVendors from "./TopVendors";
import ProgressTrackList from "./ProgressTrackList";

// Tables
import LightTable from "./LightTable";
import SocialTrafficTable from "./SocialTrafficTable";
import PageVisitsTable from "./PageVisitsTable";

export default {
  components: {
    ActivityFeed,
    LineChart,
    BarChart,
    BaseProgress,
    RouteBreadCrumb,
    StatsCard,
    TaskList,
    PageVisitsTable,
    SocialTrafficTable,
    LightTable,
    VendorsList,
    ProgressTrackList,
    TopVendors,
  },
  data() {
    return {
      propertyname:'Penthouse Apartment',
      properties:
      [
        "Penthouse Apartment",
        "Dubai Villa",
        "Townhouse",
        "Land",
        "Duplex",
        "Hotel Apartment",
      ],
       modals: {
        showPropertyModal: false,
      },
      webcolor:'success',
      pwacolor:'',
      visitp:false,
      visitw:false,

         bigLineChart: {
        allData: [
          [0, 20, 10, 30, 15, 40, 20, 60, 60],
          [0, 20, 5, 25, 10, 30, 15, 40, 40],
        ],
        activeIndex: 0,
        chartData: {
          datasets: [
            {
              label: "Performance",
              data: [0, 20, 10, 30, 15, 40, 20, 60, 60],
            },
          ],
          labels: ["May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        },
        extraOptions: chartConfigs.blueChartOptions,
      },
      redBarChart: {
        chartData: {
          labels: ["Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
          datasets: [
            {
              label: "Sales",
              data: [25, 20, 30, 22, 17, 29],
            },
          ],
        },
        extraOptions: chartConfigs.blueChartOptions,
      },
    };
  },
  methods: {
    Showprop(p)
    {
    console.log(p);
    this.propertyname = p;
    this.modals.showPropertyModal = false;
    },
    ChangeProperty()
    {
      this.saving = false;
      this.shouldAdd = true;
      this.optionName = "Add";
      this.modals.showPropertyModal = true;
      this.sign = "fas fa-user-plus";
    },
    ActiveWButtons()
    {



      this.webcolor = 'success';
      this.pwacolor = 'secondary';
    },
    ActivePButtons()
    {
      console.log(this.visitp);

       this.webcolor = 'secondary';
      this.pwacolor = 'success';
    },
    initBigChart(index) {
      let chartData = {
        datasets: [
          {
            label: "Performance",
            data: this.bigLineChart.allData[index],
          },
        ],
        labels: ["May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
      };
      this.bigLineChart.chartData = chartData;
      this.bigLineChart.activeIndex = index;
    },
  },
  mounted() {
    this.initBigChart(0);
  },
};
</script>
<style>
.cursor {
  cursor: pointer;
}
</style>
